extends ../layout
block head
  title Админ панель
  link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.css')
  script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.js')
  script(src="/js/maskinput.js")
  script.
    var table;
    $(document).ready(function(){
        var students,tutors,settings;
            $.getJSON('/settings/',function(d){
            settings=d;
        }).fail(function(){
            Materialize.toast("Не удалось подгрузить настройки",1000);
        });
        $('.listopener').on('click',function(){
            console.log('MSG');
            if(table) table.destroy();
            $('#listoftutors').html('<div class="progress"><div class="indeterminate"></div></div>');
            var d=''
            var s='userstable';
            if(this.id=='adminlist'){
                d='?q={"type":{"$in":[123321,240901]}}';
                s='adminstable';
            }
            $.getJSON('/admin/list/user'+d, function(data) {
              tutors=data;
              var a;

              $('#'+s+' tbody').html('');
              data.forEach(function(d,i){
                    var type='Преподаватель';
                    var admin=1;
                    if(d.type==240901) type='Главный Администратор';
                    else if(d.type==123321) type='Администратор';
                    else admin=0;
                    $('#'+s+' tbody').append([
                      '<tr><td>',d.surname,'</td><td>',d.name,'</td><td>',d.secname,
                      '</td><td>',d.email,'</td><td>',type ,'</td><td>',
                      '<a onclick="setSU(',i,
                      ')" class="secondary-content btn-floating"><i class="material-icons">star</i></a>',
                      '<a onclick="setAdmin(',i,
                      ')" class="secondary-content btn-floating"><i class="material-icons">star_half</i></a>',
                      '<a onclick="setTutor(',i,
                      ')" class="secondary-content btn-floating"><i class="material-icons">star_border</i></a>',
                      admin?['<a onclick="setFilials(',i,
                      ')" class="secondary-content btn-floating"><i class="material-icons">domain</i></a>',].join(''):'',
                      '</td></tr>'
                    ].join(''));
              })
              table = $('#'+s).DataTable();
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
        })
        $('.modal').modal();
        setAdmin = function (i){
            $.post('/admin/controll/setAdmin',{
                _id:tutors[i]._id
            }, function(data) {
                Materialize.toast('Данный пользователь теперь администратор');
            }).fail(function(){
                Materialize.toast('Произошла ошибка');
            });
        }
        setSU = function (i){
            $.post('/admin/controll/setSU',{
                _id:tutors[i]._id
            }, function(data) {
                Materialize.toast('Данный пользователь теперь администратор');
            }).fail(function(){
                Materialize.toast('Произошла ошибка');
            });
        }
        setTutor = function (i){
            $.post('/admin/controll/setTutor',{
                _id:tutors[i]._id
            }, function(data) {
                Materialize.toast('Данный пользователь теперь преподаватель');
            }).fail(function(){
                Materialize.toast('Произошла ошибка');
            });
        }
        setFilials = function (i){
            $('#idmodaltutor').html(tutors[i]._id);
            $('#modaledifilials .filials').html('');
            var random = String(Math.random());
            settings.branchs.forEach(function(b,i){
                $('#modaledifilials .filials').append('<tr><td><input type="checkbox" name="'+b.shortname+'" id="ld'+random+i+'"><label for="ld'+random+i+'" ></label></td><td>'+b.name+'</td></tr>')
            });
            if(tutors[i].filials){
                tutors[i].filials.forEach(function(b){
                    var d=$('#modaledifilials input[name="'+b+'"]');
                    if(d) d.prop('checked','checked');
                });
            }
            $('#modaledifilials').modal('open');
        }
        $('#modaledifilials .save').click(function(){
            var b=[];
            $('#modaledifilials .filials input').toArray().forEach(function(el){
                if(el.checked) b.push(el.name);
            })
            $.post('/admin/controll/setFilials',{
                _id:$('#idmodaltutor').html(),
                filials:JSON.stringify(b)
            }, function(data) {
                Materialize.toast('Данные обновлены');
                $('#modaledifilials').modal('close');
            }).fail(function(){
                Materialize.toast('Произошла ошибка');
            });
        });
      })
      var setAdmin,setSU,setTutor,setFilials;


block content
    ul.collapsible.popout(data-collapsible='accordion')
        li
            .collapsible-header.listopener#adminlist  Список администраторов
            .collapsible-body
              table.table#adminstable
                thead
                  tr
                    td Фамилия
                    td Имя
                    td Отчество
                    td E-mail
                    td Тип пользователя
                    td
                tbody
        li
            .collapsible-header.listopener#userlist  Список всех пользователей
            .collapsible-body
              table.table#userstable
                thead
                  tr
                    td Фамилия
                    td Имя
                    td Отчество
                    td E-mail
                    td Тип пользователя
                    td
                tbody
    #modaledifilials.modal.modal-fixed-footer.full
      .modal-content
          p#idmodaltutor
          h5 Установить филиалы
          table.table
            tbody.filials

        .modal-footer
          a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
          button.waves-effect.waves-green.btn-flat.save Сохранить