extends ../layout
block head
  title База данных
  link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.css')
  script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.js')
  style.
  
    #table{word-wrap: break-word; font-size:11px;}
  script.
    function CreateTableFromJSON(a,table) {
        table.innerHTML='';
        var col = [];
        for (var i = 0; i < a.length; i++) {
            for (var key in a[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }
        var tr = table.insertRow(-1);                   // TABLE ROW.
        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }
        for (var i = 0; i < a.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                
                if(a[i][col[j]]&&a[i][col[j]].forEach) a[i][col[j]].forEach(function(n){
                    if((typeof n)=="object"||(typeof n)=="array") tabCell.innerHTML +="<li>"+JSON.stringify(n)+'</li>';
                    else tabCell.innerHTML+="<li>"+n+"</li>";
                });
                else if((typeof a[i][col[j]])=="object") tabCell.innerHTML =JSON.stringify(a[i][col[j]]);
                else tabCell.innerHTML = a[i][col[j]];
            }
        }
    }
    $(document).ready(function(){
        $('#bdo').change(function(){
            var url="/admin/list/"+$(this).val();
            $.getJSON(url, function(data) {
              $('#urltojson').html("<a class='btn' target='_blank' href='"+url+"'>Смотреть JSON</a>");
              CreateTableFromJSON(data,document.getElementById('table'));
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
            
            
            
            
            
            
        });
    });
  
    
block content
    .row
        .col.s12
            select#bdo
                option(disabled selected) Выберите БД
                option(value="student") Ученики (students)
                option(value="group") Группы (groups)
                option(value="user") Преподаватели (users)
                option(value="lesson") Занятия (lessons)
                option(value="setting") Настройки (settings)
                option(value="error") Лог ошибок (error)
        .col.s12
            a.btn.left(href="https://mlab.com/login/",target='_blank') Открыть панель администратора БД
            #urltojson.left
            table.table#table