extends ../layout
block head
  title Группы
  script.
    var students,settings,groups;
    var errorHandler=function(){
      Materialize.toast('Произошла ошибка',3000);
    }
    var w=['ВС', 'ПН', 'ВТ', "СР",'ЧТ', 'ПТ', 'СБ', 'ВС'];
    var ds_pickadate={
        onRender: function() {
          console.log(this);
          $('select').material_select();
        },
        selectYears: true,
        labelMonthSelect: 'Pick a month from the dropdown',
        labelYearSelect: 'Pick a year from the dropdown',
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true,
        format:"dd.mm.yyyy",
        monthsShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        weekdaysShort: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
        weekdaysFull:w,
        showWeekdaysFull:true,
        firstDay: 2,
        today: 'Сегодня',
        clear: 'Очистить',
        close: 'Ok',
        closeOnSelect: false,
        max: true
    }
    function updatelist (){
         $('#listoflessons').html('<div class="progress"><div class="indeterminate"></div></div>');
         var make_json_for=function(el){
           if(!el) return undefined;
           else return { $in:el};
         }
         var make_gt_lt_json=function(gt,lt){
                if(!gt&&!lt) return undefined;
                else return { $gte: gt||undefined,
                $lte: lt||undefined };
          }
          $.getJSON('/admin/groups/list',{
            json:JSON.stringify({
              'branch':make_json_for($('#branchselect').val()),
              'subject':make_json_for($('#subjectsselect').val()),
              'course':make_json_for($('#coursesselect').val()),
              'tutor':make_json_for($('#tutorselect').val()),
              $text : function(el){
                if(el) return { $search :  el}
                else return;
              }($('#textsearchselect').val())
            })
          }, function(data) {
            $('#listoflessons').html('');
          groups=data;
          var a,i,d;
          $('#listofgroups').html('');
          for(i=data.length-1;i>-1;i--){
                d=data[i];
                a=[];
                d.cache.students.forEach(function(s){
                  a.push(s.surname)
                });
                var w=['ВС', 'ПН', 'ВТ','СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'];
                var z='',zz='';
                if(!d.format){
                  z="  <b class='warning right'> Заполните формат</b>" ;
                  zz='yellow'
                } 
                if(d.completed&&!d.completedCheck){
                  zz='yellow';
                  z+=" <b class='warning right'> Подтвердите завершение</b>"
                }else if(d.completed&&d.completedCheck){
                  zz+='  green lighten-4'
                }
                $('#listofgroups').append([
                  '<li class="collection-item dismissable ',zz,'"><div>',
                  d.cache.tutor.surname,d.cache.tutor.name[0],d.cache.tutor.secname[0],"-",
                  d.subject,"-",d.branch,'-',w[d.dayW],'-',d.time,
                  ' (',a.join(', '),")<span class='badge'>",d.students.length,
                  '</span><a onclick="editgroup(',i
                  ,')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a>',z,'</div></li>'
                ].join(''));
                
          }
        }).fail(function() {
            Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
        })
    }
    $(document).ready(function(){
      mP.init();
      $('input[type="time"]').pickatime({
        default: 'now', 
        fromnow: 0,   
        twelvehour: false, 
        donetext: 'OK',
        cleartext: 'Очистить', 
        canceltext: 'Отмена',
        autoclose: false, 
        ampmclickable: false,
        aftershow: function(){} 
      });
      $('#showfilters').click(function(){
        $(this).slideUp();
        $('#filters').slideDown();
      });

      $('.datepicker').pickadate(ds_pickadate);
      $.getJSON('/settings/',function(d){
          d.branchs.forEach(function(b){
              $('#branchselect').append("<option value='"+b.shortname+"'>"+b.name+"</option>"); 
          });
          d.courses.forEach(function(b){
              $('#coursesselect').append("<option value='"+b.shortname+"'>"+b.name+"</option>"); 
          });
          d.subjects.forEach(function(b){
              $('#subjectsselect').append("<option value='"+b.shortname+"'>"+b.name+"</option>"); 
          });          
          
          $('select').material_select();
          $('#subjectsselect,#coursesselect,#branchselect,#timeendselect,#timestartselect,#dateendselect,#datestartselect,#textsearchselect,#tutorselect').change(function(){
            updatelist();
          });

      }).fail(errorHandler);
      $.getJSON('/admin/list/user',function(tutors){
        tutors.sort(function(a,b){
          return (a.surname.toLowerCase().replace(/ /g,'')+' '+a.name.toLowerCase().replace(/ /g,'')+' '+a.secname.toLowerCase().replace(/ /g,'')).localeCompare(b.surname.toLowerCase().replace(/ /g,'')+' '+b.name.toLowerCase().replace(/ /g,'')+' '+b.secname.toLowerCase().replace(/ /g,''));
        })
        tutors.forEach(function(t){
              $('#tutorselect').append("<option value='"+t._id+"'>"+t.surname+' '+t.name+' '+t.secname+"</option>"); 
          });
        $('select').material_select();
      }).fail(errorHandler);
      $.getJSON("/settings/",function(data){
        settings=data;
        var n2=$("#branchselectmodal");
        data.branchs.forEach(function(branch){
          n2.append("<option value='"+branch.shortname+"'>"+branch.name+"</option>");
        });
        n2=$("#subjectselectmodal");
        data.subjects.forEach(function(s){
          n2.append("<option value='"+s.shortname+"'>"+s.name+"</option>");
        });
        n2=$("#courseselectmodal");
        data.courses.forEach(function(c){
          n2.append("<option value='"+c.shortname+"'>"+c.name+"</option>");
        });
        n2=$("#formatselectmodal");
        data.formats.forEach(function(c){
          n2.append("<option value='"+c.shortname+"'>"+c.name+"</option>");
        });
        $('select').material_select();
      });
      $.getJSON("/students/list",function(data){
        students=data;
        updatelist();
      })
      $('#modaleditgroup').modal();
      $('#modaleditgroup button.save').click(function(){
        $.post("/admin/groups/update/",{
          branch:$('#branchselectmodal').val(),
          subject:$('#subjectselectmodal').val(),
          course:$('#courseselectmodal').val(),
          dayW:$('#modaleditgroup select[name="dayW"]').val(),
          time:$('#timeinputmodal').val(),
          comment:$('#commentinputgroupmodal').val(),
          format:$('#formatselectmodal').val(),
          _id:$('#idmodalgroup').html(),
          prices:JSON.stringify({
            p1:$('#modaleditgroup input[name="p1"]').val(),
            p2:$('#modaleditgroup input[name="p2"]').val(),
            pstep:$('#modaleditgroup input[name="pstep"]').val()
          })
        },function(d){
              if(d="ok"){
                  Materialize.toast("Изменения сохранены",1000)
                  $('#modaleditgroup').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
              }
              updatelist();
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        
      })
      $('#modaleditgroup button.complete').click(function(){
        $('#modaleditgroup').modal('close');
        mP.open('Вы действительно хотите завершить группу?',
        '<p>При завершении группы:</p><ul class="browser-default"><li>произойдёт выплата депозита</li><li>все занятия с этой группой будут помечены проведёнными</li><li>группа будет не доступна для создания занятий</li></ul>',
        function(){
          $.get("/admin/groups/complete/",{id:$('#idmodalgroup').html()},function(){
            Materialize.toast('Группа завершена');
            mP.close();
          }).fail(errorHandler);
          mP.close();
        });
      });
      $('#modaleditgroup button.delete').click(function(){
        $.post("/admin/groups/remove/",{
          _id:$('#idmodalgroup').html()
        },function(d){
              if(d="ok"){
                  Materialize.toast("Группа успешно удалена",1000)
                  $('#modaleditgroup').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
              }
              updatelist();
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        
      })
      $('.modal-trigger[href="#modalmerge"]').click(function(err){
        $('#modalmerge').modal();
        $('#merge1 #tutorsmerge').html('<div class="progress"><div class="indeterminate"></div></div>');
        $('#merge2 #g1merge').html('Сначала выберите преподавателя');
        $('#merge3 #g2merge').html('Сначала выберите первую группу');
        $.getJSON('/admin/list/user',function(data){
          var tutors=[];
          data.forEach(function(t){
            tutors.push({
              _id:t._id,
              name:t.surname+' '+t.name+' '+t.secname
            });
          });
          tutors.sort(function(a,b){
            if (a.name < b.name)
              return -1;
            if ( a.name > b.name)
              return 1;
            return 0;
          });
          $('#merge1 #tutorsmerge').html('');
          console.log(tutors);
          tutors.forEach(function(t){
            $('#merge1 #tutorsmerge').append([
                  '<li class="collection-item dismissable"><div>',
                  t.name,
                  '<a onclick="merge2(\'',t._id
                  ,'\')" class="secondary-content btn-floating"><i class="material-icons">navigate_next</i></a></div></li>'
                ].join(''));
          })
        }).fail(errorHandler);
      });
      var tmp_groups_for_merge=[];
      merge2=function(t){
        $('#modalmerge ul.tabs').tabs('select_tab', 'merge2');
        $('#merge2 #g1merge').html('<div class="progress"><div class="indeterminate"></div></div>');
        $('#merge3 #g2merge').html('Сначала выберите первую группу');
        $.getJSON('/admin/groups/list',{
          tutor:t
        },function(data){
          tmp_groups_for_merge=data;
          $('#merge2 #g1merge').html('');
          var a;
          data.forEach(function(d){
            a=[];
            d.cache.students.forEach(function(s){
              a.push(s.surname)
            });
            $('#merge2 #g1merge').append([
                '<li class="collection-item dismissable"><div>',
                d.cache.tutor.surname,d.cache.tutor.name[0],d.cache.tutor.secname[0],"-",
                d.subject,"-",d.branch,'-',w[d.dayW],'-',d.time,
                ' (',a.join(', '),")<span class='badge'>",d.students.length,
                '</span><a onclick="merge3(\'',t,"','",d._id,
                ,'\')" class="secondary-content btn-floating"><i class="material-icons">navigate_next</i></a></div></li>'
            ].join(''));
          });
        }).fail(errorHandler);
      };
      merge3=function(t,g1){
        $('#modalmerge ul.tabs').tabs('select_tab', 'merge3');
        $('#merge3 #g2merge').html('');
        var a;
        var data=tmp_groups_for_merge;
        data.forEach(function(d){
          if(d._id==g1) return;
          a=[];
          d.cache.students.forEach(function(s){
            a.push(s.surname)
          });
          $('#merge3 #g2merge').append([
              '<li class="collection-item dismissable"><div>',
              d.cache.tutor.surname,d.cache.tutor.name[0],d.cache.tutor.secname[0],"-",
              d.subject,"-",d.branch,'-',w[d.dayW],'-',d.time,
              ' (',a.join(', '),")<span class='badge'>",d.students.length,
              '</span><a onclick="merge_groups(\'',t,"','",g1,"','",d._id,
              ,'\')" class="secondary-content btn-floating"><i class="material-icons">navigate_next</i></a></div></li>'
          ].join(''));
        });
      };
      editgroup=function(i){
        console.log(groups[i]);
        $('#branchselectmodal').val(groups[i].branch);
        $('#subjectselectmodal').val(groups[i].subject);
        $('#courseselectmodal').val(groups[i].course);
        $('#modaleditgroup select[name="dayW"]').val(groups[i].dayW);
        $('#timeinputmodal').val(groups[i].time);
        $('#commentinputgroupmodal').val(groups[i].comment);
        if(!groups[i].format) groups[i].format=''
        $('#formatselectmodal').val(groups[i].format);
        $('#tutorinputmodal').val(groups[i].cache.tutor.surname+" "+groups[i].cache.tutor.name+" "+groups[i].cache.tutor.secname);
        
        $('#studentsmodallist').html('');
        $('#modaleditgroup input[name="p1"]').val(groups[i].prices.p1);
        $('#modaleditgroup input[name="p2"]').val(groups[i].prices.p2);
        $('#modaleditgroup input[name="pstep"]').val(groups[i].prices.pstep);
        
        $('p#idmodalgroup').html(groups[i]._id)
        groups[i].cache.students.forEach(function(s){
          $('#studentsmodallist').append('<li class="collection-item">'+s.surname+" "+s.name+" "+s.secname+"</li>");
        })
        $('select').material_select();
        $('#modaleditgroup').modal('open');
        
      }
      merge_groups=function(t,g1,g2){
        $('#modalmerge').modal('close');
        mP.open('Вы действительно хотите объединить группы?',
         'Данное действие <b>не обратимо</b>.',function(){
            $.post('/admin/groups/merge',{
              _id1:g1,
              _id2:g2
            },function(data){
              console.log(data);
            }).fail(errorHandler);
            mP.close();
         },function(){
             mP.close();
            $('#modalmerge').modal('open');
         })
      };
    });
    var editgroup,merge2;
    var merge_groups
block content
    .row
      .col.s12#showfilters
        button.btn.waves-effect Показать фильтры
      .col#filters.hidden.s12
          .input-field.col.s4
              select#branchselect(multiple)
                  option(value="" disabled) Все филиалы
              label Филиал
          .input-field.col.s4
              select#coursesselect(multiple)
                  option(value="" disabled) Все курсы
              label Курс
          .input-field.col.s4
              select#subjectsselect(multiple)
                  option(value="" disabled) Все предметы
              label Предмет
          .input-field.col.s12
              select#tutorselect(multiple)
                  option(value="" disabled) Все преподаватели
              label Преподаватель
          .col.input-field.s12
            label.active Текстовый поиск
            input#textsearchselect
      .col.s12
        button.btn.waves-effect.modal-trigger(href="#modalmerge") Объединить группы      
      ul.collection#listofgroups.s12
      
    #modaleditgroup.modal.full.modal-fixed-footer
      .modal-content
        p#idmodalgroup
        h4 Изменить группу
        .col.s12.input-field 
          label.active(for='tutorinputmodal') Переподаватель
          input.validate#tutorinputmodal(type="text",value="none", disabled)
        .col.s12.input-field
          select#branchselectmodal(name="branch" required)
            option(value="" disabled selected) Выберите филиал
          label Филиал
        .col.s6.input-field
          select#subjectselectmodal(name="subject" required)
            option(value="" disabled selected) Выберите предмет
          label Предмет
        .col.s6.input-field
          select#courseselectmodal(name="course" required)
            option(value="" disabled selected) Выберите курс
          label Курс
        .col.s6.input-field
          select(name="dayW" required)
            option(value="" disabled selected) Выберите день недели
            option(value="1") Понедельник
            option(value="2") Вторник
            option(value="3") Среда
            option(value="4") Четверг
            option(value="5") Пятница
            option(value="6") Суббота
            option(value="0") Воскресенье
          label День недели
        .col.s6.input-field 
          label.active(for="timeinputmodal") Время
          input#timeinputmodal(name='time',type="time",required)
        .col.s6.input-field
          select#formatselectmodal(name="format" required)
            option(value="" disabled selected) Выберите формат
          label Формат
        .col.s6.input-field 
          label.active(for='commentinputmodal',value="none") Комментарий (необязательно)
          input.validate#commentinputmodal(name='comment',type="text")
        p Примечание: Значение -1 означает стандартную оплату в соответствии с форматом или персональной настройкой преподавателя. 
        .col.s12.m4.input-field 
          label Оплата за 1 человека
          input.validate(name='p1',type="number",required,value="-1")
        .col.s12.m4.input-field 
          label Оплата за 2 человека
          input.validate(name='p2',type="number",required,value="-1")
         .col.s12.m4.input-field 
          label Шаг оплаты
          input.validate(name='pstep',type="number",required,value="-1")
       
        p Ученики:
        ul.collection#studentsmodallist  
      .modal-footer
        button.waves-effect.waves-red.btn-flat.complete Завершить
        button.waves-effect.waves-red.btn-flat.delete Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить
    #modalmerge.modal.full.modal-fixed-footer
      .modal-content
        h4 Объединение групп
        ul#tabs-merge.tabs.tabs-teal.tabs-fixed-width
          li.tab.col.s3
            a.active(href='#merge1') 1 шаг
          li.tab.col.s3
            a.active(href='#merge2') 2 шаг
          li.tab.col.s3
            a(href='#merge3') 3 шаг
        #merge1.col.s12
          h5 Выберите преподавателя
          ul.collection.s12#tutorsmerge
          
        #merge2.col.s12 
          h5 Выберите первую группу
          ul.collection.s12#g1merge Сначала выберите преподавателя
        #merge3.col.s12 
          h5 Выберите вторую группу
          ul.collection.s12#g2merge Сначала выберите первую группу
         
        
      .modal-footer
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
