extends ../layout
block head
  title Занятия
  script(src="/js/dateformated.js")
  script.
    var errorHandler=function(){
      Materialize.toast('Произошла ошибка',3000);
    }
    var w=['ВС', 'ПН', 'ВТ', "СР",'ЧТ', 'ПТ', 'СБ', 'ВС'];
    var ds_pickadate={
        onRender: function() {
          console.log(this);
          $('select').material_select();
        },
        selectYears: true,
        labelMonthSelect: 'Pick a month from the dropdown',
        labelYearSelect: 'Pick a year from the dropdown',
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true,
        format:"dd.mm.yyyy",
        monthsShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        weekdaysShort: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
        weekdaysFull:w,
        showWeekdaysFull:true,
        firstDay: 2,
        today: 'Сегодня',
        clear: 'Очистить',
        close: 'Ok',
        closeOnSelect: false,
        max: true
      }
      var updatelessons=function(a){
        
         //$('#listoflessons').html('<div class="progress"><div class="indeterminate"></div></div>');
         var make_json_for=function(el){
           if(!el) return undefined;
           else return { $in:el};
         }
         var make_gt_lt_json=function(gt,lt){
                if(!gt&&!lt) return undefined;
                else return { $gte: gt||undefined,
                $lte: lt||undefined };
          }
          $.getJSON('/admin/lessons/list',{
            json:a?'{"checked":""}':JSON.stringify({
              'cache.group.branch':make_json_for($('#branchselect').val()),
              'cache.group.subject':make_json_for($('#subjectsselect').val()),
              'cache.group.course':make_json_for($('#coursesselect').val()),
              'tutor':make_json_for($('#tutorselect').val()),
              'date':make_gt_lt_json($('#datestartselect').parent().find('input[type="hidden"]').val(),
              (new Date($('#dateendselect').parent().find('input[type="hidden"]').val())).getTime()+86400000),
              'cache.group.time':make_gt_lt_json($('#timestartselect').val(),
              $('#timeendselect').val()),
              $text : function(el){
                if(el) return { $search :  el}
                else return; 
              }($('#textsearchselect').val())
            })
          }, function(data) {
            $('#listoflessons').html('');
            lessons=data;
            var a,w=['ВС', 'ПН', 'ВТ', "СР",'ЧТ', 'ПТ', 'СБ', 'ВС'];
            if(!data.length){
                $('#listoflessons').html('<h5>Занятия не найдены, проверьте фильтрацию</h5>');
            }
            data.forEach(function(d,i){
                  a=[];
                  d.cache.group.cache.students.forEach(function(s){
                    a.push(s.surname)
                  });
                  var nl=0;
                  for(k in d.presence){
                    if(d.presence[k]) nl++;
                  }
                  var z='',zz='';
                  if(d.checked==""){
                    z='<a onclick="checklesson(\''+d._id+'\');" class="btn-floating checklesson"><i class="material-icons">check</i></a>' ;
                    zz='yellow'
                  }else{
                    z='<a onclick="checklesson(\''+d._id+'\',1);" class="btn-floating checklesson"><i class="material-icons">undo</i></a>' ;
                  }
                  $('#listoflessons').append([
                    '<tr class="',zz,'"><td>',d.cache.tutor.surname,d.cache.tutor.name[0],d.cache.tutor.secname[0],"-",
                    d.cache.group.subject,"-",d.cache.group.branch,'-',w[d.cache.group.dayW],'-',d.cache.group.time,"("+a.join(', '),")",
                    "<br>",d.theme,
                    "</td><td>",getDateFormated(d.date),"</td><td>"+nl+"</td><td>",z,
                    '<a onclick="editlesson(',i
                    ,')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a></td></tr>'
                  ].join(''));
            })
          }).fail(function(err) {
              Materialize.toast("Произошла ошибка. Повторите попытку.",1000)
          })
      };
    var groups,students,lessons;
    $(document).ready(function(){
      $('#listoflessons').html('<div class="progress"><div class="indeterminate"></div></div>');
      $('#showfilters').click(function(){
        $(this).slideUp();
        $('#filters').slideDown();
      });
      $('#showunchecked').click(function(){
        updatelessons(1);
      });
      var Nyear=(new Date()).getFullYear();
      var Nmonth=(new Date()).getMonth();
      $('#fastperiods button').each(function(){
          var n=parseInt(this.className.replace('f','').replace('btn',' ').replace(' ',''));
          var n2=Nmonth-1-n;
          if(n2<0) n2+=12;
          $(this).html(ds_pickadate.monthsFull[n2]);
          $(this).click(function(){
              $('#datestartcontainer').html('<label class="active">C</label> <input id="datestartselect" type="text" name="datestart" class="datepicker"/>')
              $('#dateendcontainer').html('<label class="active">По</label> <input id="dateendselect" type="text" name="dateend" class="datepicker"/>')
              $('#filters input[name="datestart"]').val(getDateFormated(new Date(Nyear,Nmonth-1-n,1),1));
              $('#filters input[name="dateend"]').val(getDateFormated(new Date(Nyear,Nmonth-n,0),1));
              $('input[name="datestart"],input[name="dateend"]').pickadate(ds_pickadate);
              updatelessons();
              $('#filters input[name="datestart"],#filters input[name="dateend"]').change(function(){
                 updatelessons();
               });
               
          });
      });
      $('#fastperiods .f-1').click();
      $('.datepicker').pickadate(ds_pickadate);
      $.getJSON('/settings/',function(d){
          d.branchs.forEach(function(b){
              $('#branchselect').append("<option value='"+b.shortname+"'>"+b.name+"</option>"); 
          });
          d.courses.forEach(function(b){
              $('#coursesselect').append("<option value='"+b.shortname+"'>"+b.name+"</option>"); 
          });
          d.subjects.forEach(function(b){
              $('#subjectsselect').append("<option value='"+b.shortname+"'>"+b.name+"</option>"); 
          });          
          
          $('select').material_select();
          $('#subjectsselect,#coursesselect,#branchselect,#timeendselect,#timestartselect,#dateendselect,#datestartselect,#textsearchselect,#tutorselect').change(function(){
            updatelessons();
          });

      }).fail(errorHandler);
      $.getJSON('/admin/list/user',function(tutors){
        tutors.sort(function(a,b){
          return (a.surname.toLowerCase().replace(/ /g,'')+' '+a.name.toLowerCase().replace(/ /g,'')+' '+a.secname.toLowerCase().replace(/ /g,'')).localeCompare(b.surname.toLowerCase().replace(/ /g,'')+' '+b.name.toLowerCase().replace(/ /g,'')+' '+b.secname.toLowerCase().replace(/ /g,''));
        })
        tutors.forEach(function(t){
              $('#tutorselect').append("<option value='"+t._id+"'>"+t.surname+' '+t.name+' '+t.secname+"</option>"); 
          });
        $('select').material_select();
      }).fail(errorHandler);
      $('input[type="time"]').pickatime({
        default: 'now', 
        fromnow: 0,   
        twelvehour: false, 
        donetext: 'OK',
        cleartext: 'Очистить', 
        canceltext: 'Отмена',
        autoclose: false, 
        ampmclickable: false, 
        aftershow: function(){}
      });
      
      $.getJSON("/admin/list/group",function(data){
        groups=data;
        var b,n={},d;
        data.forEach(function(a,i){
          d=[];
          a.cache.students.forEach(function(s){
            d.push(s.surname);
          })
          n[i+"."+a.subject+"-"+a.branch+'-'+w[a.dayW]+'-'+a.time+"("+d.join(', ')+")"]=null;
        })
        console.log(n);
        /*$("#groupinput").autocomplete({
            data: n,
            limit: 50,
            minLength: 3
          
        });*/
      })
      $('#modaleditlesson').modal();
      $('#modaleditlesson button.save').click(function(){
        var marks={},presence={};
        $('#studentsmodallist tbody tr').each(function(){
          var el=$(this);
          var id=el.find('.student_id').html();
          marks[id]={};
          presence[id]=el.find('.presence').prop( "checked" );
          marks[id]['РУ']=el.find('.mark_ru').val();
          marks[id]['ДР']=el.find('.mark_dr').val();
          marks[id]['КР']=el.find('.mark_kr').val();
        });
        $.post("/admin/lessons/update/",{json:JSON.stringify({
          date:$('#modaleditlesson input[name="date"]').val()+"T"+$('#modaleditlesson input[name="time"]').val()+":00+03:00",
          _id:$('#idmodallesson').html(),
          theme:$('#modaleditlesson input[name="theme"]').val(),
          marks:marks,
          presence:presence,
          prices:{
            p1:$('#modaleditlesson input[name="p1"]').val(),
            p2:$('#modaleditlesson input[name="p2"]').val(),
            pstep:$('#modaleditlesson input[name="pstep"]').val()
          },
          last:$('#modaleditlesson input[name="last"]').prop('checked')
        })},function(d){
              if(d="ok"){
                  Materialize.toast("Изменения сохранены",1000)
                  $('#modaleditlesson').modal('close');
                  updatelessons();
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
                  updatelessons();
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
              updatelessons();
          })
        
      })
      $('#modaleditlesson button.delete').click(function(){
        $.post("/admin/lessons/remove/",{
          _id:$('#idmodallesson').html()
        },function(d){
              if(d="ok"){
                  Materialize.toast("Занятие успешно удалено",1000);
                  updatelessons();
                  $('#modaleditlesson').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
                  updatelessons();
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
              updatelessons();
          })
        
      })
      editlesson=function(i){
        $("#modaleditlesson > div.modal-content > div > div:nth-child(3) > div").remove();
        $("#modaleditlesson > div.modal-content > div > div:nth-child(3) > input.picker__input").remove();
        
        $('#modaleditlesson input[name="group"]').val(lessons[i].cache.group.subject+"-"+lessons[i].cache.group.branch+'-'+w[lessons[i].cache.group.dayW]+'-'+lessons[i].cache.group.time);
        $('#modaleditlesson input[name="tutor"]').val([lessons[i].cache.tutor.surname,lessons[i].cache.tutor.name,lessons[i].cache.tutor.secname].join(" "));
        $('#modaleditlesson input[name="date"]').val(getDateFormated(lessons[i].date,1));
        $('#modaleditlesson input[name="time"]').val(getDateFormated(lessons[i].date,2));
        $('#modaleditlesson input[name="date"]').pickadate(ds_pickadate);
        $('#modaleditlesson input[name="theme"]').val(lessons[i].theme);
        $('#modaleditlesson input[name="last"]').prop('checked',lessons[i].last);

        $('#modaleditlesson input[name="p1"]').val(lessons[i].prices.p1);
        $('#modaleditlesson input[name="p2"]').val(lessons[i].prices.p2);
        $('#modaleditlesson input[name="pstep"]').val(lessons[i].prices.pstep);
        
        
        $('#studentsmodallist tbody').html('');
        $('#idmodallesson').html(lessons[i]._id)
        lessons[i].students.forEach(function(d){
          s=lessons[i].cache.group.cache.students.find(function(e){
              return e._id==d;
          });
          $('#studentsmodallist tbody').append([
            '<tr><td><span class="hidden student_id">',s._id,'</span>',
            ,s.surname+" "+s.name+" "+s.secname+"</td><td>",
            '<div class="switch"><label> Отсутствовал <input class="presence" ',(lessons[i].presence&&lessons[i].presence[s._id])?' checked ':' '
            ,'" type="checkbox"> <span class="lever"></span> Присутствовал </label> </div>'
            ,'</td><td><div class="input-field"><input class="validate mark_ru" value="',
            lessons[i].marks&&lessons[i].marks[s._id]&&lessons[i].marks[s._id]['РУ']?lessons[i].marks[s._id]['РУ']:''
            ,'" type="number" min=2 max=5 class="validate"></div>'
            ,'</td><td><div class="input-field"><input class="validate mark_dr" value="',
            lessons[i].marks&&lessons[i].marks[s._id]&&lessons[i].marks[s._id]['ДР']?lessons[i].marks[s._id]['ДР']:''
            ,'" type="number" min=2 max=5 class="validate"></div>'
            ,'</td><td><div class="input-field"><input class="validate mark_kr" value="',
            lessons[i].marks&&lessons[i].marks[s._id]&&lessons[i].marks[s._id]['КР']?lessons[i].marks[s._id]['КР']:''
            ,'" type="number" min=2 max=5 class="validate"></div>'
            ,'</td></tr>'
            ].join(''));
        })
        $('select').material_select();
        
        $('#modaleditlesson').modal('open');
        
      }
    });
    var checklesson=function(id,uncheck){
      $.get("/admin/lessons/"+(uncheck?'un':'')+"check/"+id,{ },function(d){
          if(d="ok"){
              Materialize.toast(uncheck?"Подтверждение занятия отменено":"Занятие успешно подтверждено",1000);
              updatelessons();
          }
      }).fail(function() {
          Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          updatelessons();
      })
    };
  style.
    .picker__weekday-display{font-size:1.7rem;}
    #studentcont{display:none;}
block content
    .col.s12#showfilters
      button.btn.waves-effect Показать все фильтры
    .col#filters.hidden
        .input-field.col.s4
            select#branchselect(multiple)
                option(value="" disabled) Все филиалы
            label Филиал
        .input-field.col.s4
            select#coursesselect(multiple)
                option(value="" disabled) Все курсы
            label Курс
        .input-field.col.s4
            select#subjectsselect(multiple)
                option(value="" disabled) Все предметы
            label Предмет
        .input-field.col.s12
            select#tutorselect(multiple)
                option(value="" disabled) Все преподаватели
            label Преподаватель
        .input-field.col.s3#datestartcontainer
          label.active C
          input.datepicker#datestartselect(type='text',name="datestart")
        .col.input-field.s3#dateendcontainer
          label.active По
          input.datepicker#dateendselect(type='text',name='dateend')
        .col.input-field.s3
          label.active C
          input#timestartselect(type='time')
        .col.input-field.s3
          label.active По
          input#timeendselect(type='time')
        .col.input-field.s12
          label.active Текстовый поиск
          input#textsearchselect
    .col
        button.btn#showunchecked Только не подтвердённые
    .col.right#fastperiods
        button.btn.f2
        button.btn.f1
        button.btn.f0
        button.btn.f-1
    table#tableoflessons
      thead
          tr
              td Группа / Тема
              td Дата и время
              td Кол-во учеников
      tbody#listoflessons
    #modaleditlesson.modal.full
      .modal-content
        p#idmodallesson
        h4 Редактировать занятие
        .row
          .col.s6.input-field
            label.active Преподаватель
            input.validate(name='tutor',type="text",value='lala',disabled)
          .col.s6.input-field#groupcont
            label.active Группа
            input.validate(name='group',type="text",value='lala',disabled)
          .col.s6.input-field 
            label.active Дата
            input(name='date',type="text",value="01.01.2017",required)
          .col.s6.input-field 
            label.active Время
            input(name='time',type="time",required)
          .col.s12.input-field 
            label.active Тема урока
            input(name='theme',required)
          .col.s12
            .switch
              label
                input(type="checkbox",name='last')
                span.lever
                | Последнее занятие
        p Примечание: Значение -1 означает стандартную оплату в соответствии с настройкой группы, преподавателя, формата. 
        .col.s12.m4.input-field 
          label Оплата за 1 человека
          input.validate(name='p1',type="number",required,value="-1")
        .col.s12.m4.input-field 
          label Оплата за 2 человека
          input.validate(name='p2',type="number",required,value="-1")
         .col.s12.m4.input-field 
          label Шаг оплаты
          input.validate(name='pstep',type="number",required,value="-1")
        table.table.bordered#studentsmodallist  
          thead
            tr
              td ФИО
              td Присутствие
              td.center РУ
              td.center ДР
              td.center КР
          tbody
      .modal-footer
        button.waves-effect.waves-red.btn-flat.delete Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить
              