extends ../layout
block head
	title Вход в аккаунт преподавателя
	script.
		$(document).ready(function(){
			if(location.hash=="#!") Materialize.toast('Вы ввели неправильный ID.',3000);
		});
block content
	.container
		h5.center Авторизация
		.row
			form(method='post')
				.row
					.col.s12.input-field 
						label(for='emailinput') ID преподавателя
						input.validate#emailinput(name='id',type="text",required)
					.col.s12
						button.btn.waves-effect.s12(type="submit",style="width: 100%;") Войти