extends ../layout
block head
    title Вознаграждения
    script(src="/js/dateformated.js")
    script(src="/js/xlsx.full.min.js")
    script(src="/js/FileSaver.min.js")
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.css')
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.js')
    script.
        var table;
        var errorHandler = function(){
            Materialize.toast('Произошла ошибка.',1000);
        }
        function s2ab(s) {
          var buf = new ArrayBuffer(s.length);
          var view = new Uint8Array(buf);
          for (var i=0; i!=s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
          return buf;
        }
        function download_wb(wb,name){
            saveAs(new Blob([s2ab(XLSX.write(wb,{ bookType:'xlsx', bookSST:false, type:'binary' }))],{type:"application/octet-stream"}), name);
        }
        function download_shaoa(shaoa,name){
            var wb = { SheetNames:[], Sheets:{} };
            shaoa.forEach(function(sh){
                wb.SheetNames.push(sh.name);
                wb.Sheets[sh.name]=XLSX.utils.aoa_to_sheet(sh.data);
                wb.Sheets[sh.name]['!cols'] = sh.cols;
            });
            download_wb(wb,name);
        }
        var w=['ВС', 'ПН', 'ВТ','СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'];
        var ds_pickadate={
            onRender: function() {
              $('select').material_select();
            },
            selectYears: true,
            selectMonths:true,
            labelMonthSelect: 'Pick a month from the dropdown',
            labelYearSelect: 'Pick a year from the dropdown',
            formatSubmit: 'yyyy-mm-dd',
            hiddenName: true,
            format:"dd.mm.yyyy",
            monthsShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdaysShort: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            weekdaysFull:w,
            showWeekdaysFull:true,
            firstDay: 2,
            today: 'Сегодня',
            clear: 'Очистить',
            close: 'Ok',
            closeOnSelect: false
          }
        var rmns={};
        var errHandler=function(err){
            Materialize.toast("Прозошла ошибка. Повторите попытку.",1000);
        }
        var formats={};
        eval("var count_rmn_for_lesson= #{String(count_rmn_for_lesson).replace(/\n/g,'')}".replace(/\&quot;/g,'"').replace(/\&amp;/g,"&").replace(/\&gt;/g,">").replace(/\&lt;/g,"<"));
        var countrmns=function(tutors,lessons,settings,ltmin,ltmax){
            ltmin= (new Date(ltmin)).getTime();
            ltmax= (new Date(ltmax)).getTime()+86400000;
            rmns={};
            tutors.forEach(function(t){
                rmns[t._id]={
                    tutor:"",
                    tutordata:{},
                    groups:[],
                    lessons:[],
                    rmn:0,
                    rmn_payed:0
                }
                rmns[t._id].tutor=[t.surname,t.name,t.secname].join(' ');
                rmns[t._id].tutordata=t;
                var n;
            });
            var is_individual=function(l){
                if(!l.prices) return false;
                if(!(l.prices.p1||l.prices.p2||l.prices.pstep)) return false;
                if(l.prices.p1==-1&&l.prices.p2==-1&&l.prices.pstep==-1) return false;
                return true;
            };
            lessons.reverse().forEach(function(l){
                if(rmns[l.tutor]){
                    l.rmn=count_rmn_for_lesson(l,settings,rmns);
                    l.individual_pay=is_individual(l);
                    var m;
                    if(!rmns[l.tutor].groups[l.group]) {
                             rmns[l.tutor].groups[l.group]={lessons:[],deposit:0};
                    }
                    if(l.rmn>rmns[l.tutor].groups[l.group].deposit){
                        var deposit=l.rmn-rmns[l.tutor].groups[l.group].deposit;
                        l.rmn-=deposit;
                        l.deposited=deposit;
                        rmns[l.tutor].groups[l.group].deposit+=deposit;
                        
                    }
                    var ll=rmns[l.tutor].groups[l.group].lessons;
                    var tl=ll[ll.length-1];
                    rmns[l.tutor].groups[l.group].lessons.push(l);
                    if(tl&&tl.individual_pay&&!l.individual_pay) {
                        rmns[l.tutor].groups[l.group].lessons.push({_id:l._id,rmn:rmns[l.tutor].groups[l.group].deposit-l.rmn,
                        depositPayout_ind:true,cache:l.cache});
                    }
                }else console.log('err',l,rmns[l.tutor])
            });
            var tut,g,l;
            for(tut in rmns){
                for(g in rmns[tut].groups){
                    rmns[tut].groups[g].lessons.forEach(function(l){
                        var d=(new Date(l.date)).getTime()
                        if(d>=ltmin&&d<=ltmax) {
                            rmns[tut].lessons.push(l);
                            rmns[tut].rmn+=l.rmn;
                            if(l.payed) rmns[tut].rmn_payed+=l.rmn;
                            if(l.last&&l.cache.group.completedCheck){
                                rmns[tut].lessons.push({_id:l._id,rmn:rmns[tut].groups[g].deposit,
                                depositPayout:true,cache:l.cache,depositPayed:l.depositPayed});
                                rmns[tut].rmn+=rmns[tut].groups[g].deposit;
                                if(l.depositPayed) rmns[tut].rmn_payed+=rmns[tut].groups[g].deposit;
                            }
                        }
                    })
                }
            }
        }
        var tutors,lessons,settings;
        var updatetables=function(datestart,dateend,tutors,settings,cb){
            update_fastperiods();
            getJSONstepBYstep('/admin/lessons/list/',1,function(err,d){
                if(err) return errHandler(err);
                lessons=d;
                countrmns(tutors,lessons,settings,datestart,dateend);
                if (table) table.destroy();
                $("#rmnstable tbody").html('')
                var tut;
                for(tut in rmns){
                    if(rmns[tut].lessons.length>0)
                    {
                        $("#rmnstable tbody").append([
                        "<tr><td>",rmns[tut].tutor,"</td><td>",rmns[tut].lessons.length,
                        "</td>",
                        "<td>",rmns[tut].rmn,"</td>",
                        ,"<td>",rmns[tut].rmn_payed,"</td>",
                        "<td>",rmns[tut].rmn-rmns[tut].rmn_payed,"</td>",
                        ,"<td>",
                        '<a onclick="showrmn(\'',tut
                        ,'\')" class="secondary-content btn-floating"><i class="material-icons">more_vert</i></a></td></tr>'
                        ].join(''));   
                    }
                }
                table = $("#rmnstable").DataTable({
                    "paging": false
                });
                if(cb) cb();
            });
        }
        var update_fastperiods=function(){
            var Nyear= $('#dateperiod input[name="datestart"]').val().split('-');
            var Nmonth=Number(Nyear[1]);
            Nyear=Number(Nyear[0]);
            console.log(Nyear,Nmonth)
            $('#fastperiods button').each(function(){
                var n=parseInt(this.className.replace('f','').replace('btn',' ').replace(' ',''));
                var n2=Nmonth-1-n;
                if(n2<0) n2+=12;
                $(this).html(ds_pickadate.monthsFull[n2]);
                $(this).click(function(){
                    $('#dateperiod').html('<input type="text" name="datestart"/><span>-</span><input type="text" name="dateend"/>')
                    $('#dateperiod input[name="datestart"]').val(getDateFormated(new Date(Nyear,Nmonth-1-n,1),1));
                    $('#dateperiod input[name="dateend"]').val(getDateFormated(new Date(Nyear,Nmonth-n,0),1));
                    $('input[name="datestart"],input[name="dateend"]').pickadate(ds_pickadate);
                    updatetables($('#dateperiod input[name="datestart"]').val(),$('#dateperiod input[name="dateend"]').val(),tutors,settings);
                    $('#dateperiod input').change(function(){
                       updatetables($('#dateperiod input[name="datestart"]').val(),$('#dateperiod input[name="dateend"]').val(),tutors,settings);
                     });
                });
            });
        }
        $(document).ready(function(){
            mP.init();
            var Nyear=(new Date()).getFullYear();
            var Nmonth=(new Date()).getMonth();
            $('#dateperiod input[name="datestart"]').val(getDateFormated(new Date(Nyear,Nmonth-1,1),1));
            $('#dateperiod input[name="dateend"]').val(getDateFormated(new Date(Nyear,Nmonth,0),1));
            $('input[name="datestart"],input[name="dateend"]').pickadate(ds_pickadate);
            update_fastperiods();
            $.getJSON('/admin/list/user',function(d){
                tutors=d;
                $.getJSON('/admin/list/setting',function(d){
                    settings=d[0];
                    settings.formats.forEach(function(f){
                        formats[f.shortname]=f;
                    });
                    updatetables($('#dateperiod input[name="datestart"]').val(),$('#dateperiod input[name="dateend"]').val(),tutors,settings);
                }).fail(errHandler);    
            }).fail(errHandler);
            $(".modal").modal();
            showrmn=function(tut){
                $('#modalshowrmn  table > tbody').html('');
                $('#modalshowrmn h5.fio').html(rmns[tut].tutor);
                $('#idmodaltutor').html(tut);
                var a,d,z,stl;
                rmns[tut].lessons.forEach(function(l){
                    d=l.cache.group;
                    a=[];
                    d.cache.students.forEach(function(s){
                      a.push(s.surname)
                    });
                    if(l.depositPayout)  $('#modalshowrmn  table > tbody').append([
                        '<tr class="',l._id,'"><td><p><input type="checkbox" class="deposit" name="',l._id,'" ',
                        l.depositPayed?'checked ':'','id="checkbox_',l._id,'deposit">',
                        '<label for="checkbox_',l._id,'deposit"></label></p></td><td>',
                        '</td><td>','Выплата депозита за группу ',
                        d.cache.tutor.surname,d.cache.tutor.name[0],d.cache.tutor.secname[0],"-",
                            d.subject,"-",d.branch,'-',w[d.dayW],'-',d.time,
                            ' (',a.join(', '),")",
                        "</td><td>","</td><td>",
                            '</td><td>',l.rmn,'</td><td>','</td></tr>'
                        ].join(''));
                    else{
                        
                        stl=0;
                        for(n in l.presence){
                            if(l.presence[n]) stl++;
                        }
                        if(d.format) z=formats[d.format].name;
                        else z="<b class='yellow'>Формат не заполнен</b>"
                        $('#modalshowrmn  table > tbody').append([
                        '<tr class="',l._id,'"><td><p><input type="checkbox" name="',l._id,'" ',l.payed?'checked ':'','id="checkbox_',l._id,'">',
                        '<label for="checkbox_',l._id,'"></label></p></td><td>',getDateFormated(l.date),'</td>',
                        '<td>',d.cache.tutor.surname,d.cache.tutor.name[0],d.cache.tutor.secname[0],"-",
                            d.subject,"-",d.branch,'-',w[d.dayW],'-',d.time,
                            ' (',a.join(', '),")</td><td>",stl,"</td><td>",
                            z,'</td><td>',l.rmn,'</td><td>',l.deposited||0,'</td></tr>'
                        ].join(''));
                    }
                })
                $('#modalshowrmn').modal('open');
            };
            $('#exportfinish').click(function(){
                var shaoa=[{name:'Итог',data:[['ID','Преподаватель','Провёл занятий','Приблизительная оплата']]}];
                var tut;
                for(tut in rmns){
                    console.log(shaoa[0].data);
                    shaoa[0].data.push([tut,rmns[tut].tutor,rmns[tut].lessons.length,rmns[tut].rmn])
                }
                shaoa[0].cols = [
                    {wch:25},
                    {wch:30},
                    {wch:15},
                    {wch:25}
                ];
                download_shaoa(shaoa,'Итог.xlsx')
            });
             $('#exporttutor').click(function(){
                var tbl = document.getElementById('tabletutormodal');
                var wb = XLSX.utils.table_to_book(tbl);
                var tmp=wb.SheetNames[0];
                wb.SheetNames[0]=$('#modalshowrmn .fio').html().substr(0,30);
                wb.Sheets[$('#modalshowrmn .fio').html().substr(0,30)]=wb.Sheets[tmp];
                wb.Sheets[tmp]=undefined;
                wb.Sheets[$('#modalshowrmn .fio').html().substr(0,30)]['!cols']=[
                    {wch:15},
                    {wch:45},
                    {wch:20},
                    {wch:7},
                    {wch:7}
                ]
                download_wb(wb,$('#modalshowrmn .fio').html()+".xlsx")
             })
             $('#exportlessons').click(function(){
                var shaoa=[{name:'Уроки',data:[['Преподаватель','Дата','Группа','Количество человек','Формат','Оплата']]}];
                var tut,g;
                for(tut in rmns){
                    rmns[tut].lessons.forEach(function(l){
                        console.log(l);
                        g=l.cache.group;
                        shaoa[0].data.push([rmns[tut].tutor,getDateFormated(l.date),
                        [l.cache.tutor.surname,l.cache.tutor.name[0],l.cache.tutor.secname[0],"-",
                        g.subject,"-",g.branch,'-',w[g.dayW],'-',g.time].join(''),
                        l.cache.group.students.length,l.cache.group.format,l.rmn]);
                    });
                    
                }
                shaoa[0].cols = [
                    {wch:30},
                    {wch:15},
                    {wch:30},
                    {wch:18},
                    {wch:10}
                ];
                console.log(shaoa);
                download_shaoa(shaoa,'Уроки.xlsx')
             })
             $('#dateperiod input').change(function(){
               updatetables($('#dateperiod input[name="datestart"]').val(),$('#dateperiod input[name="dateend"]').val(),tutors,settings);
             });
             $('#modalshowrmn').on('click','label',function(){
                 $(this).toggleClass('modified');
             })
             $('#modalshowrmn .modal-close').click(function(){
                 if($('#modalshowrmn p label.modified').toArray().length){
                     mP.open('Вы действительно хотите закрыть окно без сохранения?',
                     'Поля, выделенные жёлтым цветом не были сохранены',function(){
                         mP.close();
                     },function(){
                         mP.close();
                         $('#modalshowrmn').modal('open');
                     })
                 }
             });
              $('#modalshowrmn .modal-action.checkall').click(function(){
                  $('#modalshowrmn p input[type="checkbox"]').each(function(){
                      if(!this.checked){
                         $(this).click();
                         $(this).parent().children('label').toggleClass('modified')
                      } 
                  });
              });
             $('#modalshowrmn .modal-action.save').click(function(){
                var modified=$('#modalshowrmn p label.modified');
                var payed = [];
                var unpayed = [];
                var payeddeposit = [];
                var unpayeddeposit = [];
                modified.each(function(){
                    var tmp = $(this).parent().find('input[type="checkbox"]');
                    var id= tmp.attr('name');
                    var deposit = tmp.hasClass('deposit');
                    tmp = tmp.prop('checked');
                    if(deposit){
                        if(tmp) {
                            payeddeposit.push(id);
                        }else{
                            unpayeddeposit.push(id);
                        }                        
                    }else{
                        if(tmp) {
                            payed.push(id);
                        }else{
                            unpayed.push(id);
                        }
                    }
                });
                if(!payed.length&&!unpayed.length&&!payeddeposit.length&&!unpayeddeposit.length){
                    return $('#modalshowrmn').modal('close');
                }
                $.post('/admin/lessons/payout',{json:JSON.stringify({
                    payed:payed,
                    unpayed:unpayed,
                    payeddeposit:payeddeposit,
                    unpayeddeposit:unpayeddeposit
                })},function(){
                    Materialize.toast('Изменения сохранены',3000);
                    $('#modalshowrmn').modal('close')
                    updatetables($('#dateperiod input[name="datestart"]').val(),$('#dateperiod input[name="dateend"]').val(),tutors,settings);
                }).fail(errorHandler);
             });
        });
        var TMP_DATA_LOAD_ARRAY=[],TMP_DATA_LOAD_STEPS=0,TMP_DATA_LOAD_ID;
        function getJSONstepBYstep(url,step,cb,ID){
            if(step==1) {
                $('.toast').remove(); 
                Materialize.toast('Началась загрузка',5000)
                ID=TMP_DATA_LOAD_ID=Math.random();
                TMP_DATA_LOAD_ARRAY=[];
                TMP_DATA_LOAD_STEPS=0;
                $.get(url+'step/count',function(d){
                    TMP_DATA_LOAD_STEPS=Number(d);
                });
            }
             $.getJSON(url+'step/'+step,function(d){
                if(ID!=TMP_DATA_LOAD_ID) return;
                if(d&&d.length){
                    TMP_DATA_LOAD_ARRAY=TMP_DATA_LOAD_ARRAY.concat(d);
                    getJSONstepBYstep(url,step+1,cb,ID);
                    updateJSONsbsLoading(step);
                }else{
                    cb(null,TMP_DATA_LOAD_ARRAY);
                }
             }).fail(cb);
        }
        function updateJSONsbsLoading(step){
            if(TMP_DATA_LOAD_STEPS) Materialize.toast('Прогружено '+step+' из '+TMP_DATA_LOAD_STEPS+' ('+Math.floor(step/TMP_DATA_LOAD_STEPS*100)+'%)',1000);
        }
        var showrmn;
    style.
        .openerbtns .gg{
            position: absolute;
            margin: -46px 57px;
            display: none;
        }
        .openerbtns:hover .gg{
            display:block;
        }
        .openerbtns{
            margin-top: 7px;
            margin-left: -10px;
            display: inline-block;
        }
        #dateperiod input{
            width: 90px;
            text-align: center
        }
        #dateperiod>button{
            margin-left: 8px;
        }
        #fastperiods>button.btn.f0{
            background:#197068;
        }
        #fastperiods>button:focus{
            background-color:#26a69a;
        }
        #fastperiods>button{
           width:140px;
        }
block content
    .warning.yellow.center.hidden
        h3 Не все форматы групп заполнены!
        p Система не учитывает занятия, у которых не заполнено поле формат.
    //.warning.yellow.center
        h3 Идёт обновление. Возможны проблемы и ошибки в работе сервиса
        p Просим своё извинение за доставленные неудобства
    .col.s2
        .openerbtns
            a.btn-floating.btn-large
                i.large.material-icons share
            .gg
                a.btn#exportfinish Краткий (.xlxs)
                a.btn#exportlessons Полный (.xlxs)
    
    .col.right#dateperiod
        input(type='text',name="datestart")        
        span -
        input(type='text',name='dateend')
    .col.right#fastperiods
        button.btn.f2
        button.btn.f1
        button.btn.f0
        button.btn.f-1
    table#rmnstable
        thead
            tr
                td Преподаватель
                td Провёл занятий
                td Приблизительная оплата
                td Выплачено
                td Осталось выплатить
                td
        tbody
            tr 
                td(colspan=4)
                    .progress
                        .indeterminate
    #modalshowrmn.modal.full.modal-fixed-footer
      .modal-content
        p#idmodaltutor
        h4 Подробная информация о вознаграждении преподавателя
        h5.fio
        table#tabletutormodal
            thead
                tr
                    td Выплачено
                    td Дата
                    td Группа
                    td Количество человек
                    td Формат
                    td Оплата
                    td Депозит
            tbody
      .modal-footer
        button.btn.waves-effect#exporttutor Экспортировать в Excel (.xlxs)
        button.modal-action.btn-flat.checkall Отметить все
        button.modal-action.btn-flat.save Сохранить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Закрыть
