extends ../layout
block head
  title Настройки
  link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.css')
  script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.js')
  script(src="/js/maskinput.js")
  script.
    var settings;
    var updatelists=function(){
        $.getJSON('/admin/settings/list', function(data) {
          settings=data;
          var keys=["branchs","courses","formats","subjects"];
          var n,a;
          keys.forEach(function(key){
              n=$("#"+key).find(".list .collapsible-body");
              n.html('');
              a="<table class='table'><thead><tr><td>Полное название</td><td>Короткое название</td>";
              if(key=="formats") a+="<td>Оплата за 1 человека</td><td>Оплата за 2 челевека</td><td>Шаг оплаты</td></tr></thead><tbody>"
              else a+="</tr></thead><tbody>"
              data[key].forEach(function(el,i){
                a+="<tr><td>"+el.name+"</td><td>"+el.shortname+"</td>"
                if(key=="formats") a+="<td>"+el.p1+" руб.</td><td>"+el.p2+" руб.</td><td>"+el.pstep+' руб.</td><td><a onclick="editformat('+i+')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a></td></tr></tbody>';
                else a+="</tr></tbody>"
              });
              n.append(a+"</tbody></table>");
          })
          n=$("#fines .list .collapsible-body");
          n.html('');
          a="<table class='table'><thead><tr><td>Наименование</td><td>Сумма</td>";
          a+="<td>Привязывается к уроку</td></tr></thead><tbody>"
          data['fines'].forEach(function(el,i){
            a+="<tr><td>"+el.message+"</td><td>"+el.sum+" руб.</td>"
            a+="<td>"+(el.typeF?'Нет':"Да")+'</td><td><a onclick="editfine('+i+')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a></td></tr></tbody>';
    
          });
          n.append(a+"</tbody></table>");
        }).fail(function() {
            Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
        })
    };
    $(document).ready(function(){
        updatelists();
        $('form').submit(function(e){
            e.preventDefault();
            var that=this;
            var el=$(this).parent().parent().parent().attr("id");
            if(el=="formats"){
                settings["formats"].push({
                    name:$(this).find('input[name="name"]').val(),
                    shortname:$(this).find('input[name="shortname"]').val(),
                    p1:$(this).find('input[name="p1"]').val(),
                    p2:$(this).find('input[name="p2"]').val(),
                    pstep:$(this).find('input[name="pstep"]').val()
                });   
            }else if(el=="fines"){
                settings["fines"].push({
                    message:$(this).find('input[name="name"]').val(),
                    typeF:Number($(this).find('select[name="typeF"]').val()),
                    sum:Number($(this).find('input[name="sum"]').val()),
                });   
            }else{
                settings[$(this).parent().parent().parent().attr("id")].push({
                    name:$(this).find('input[name="name"]').val(),
                    shortname:$(this).find('input[name="shortname"]').val(),
                });
            }

            $.post("/admin/settings/update",{settings:JSON.stringify(settings)},function(d){
                if(d="ok"){
                    Materialize.toast("Настройки изменены",1000)
                    $(that).find('input').val('');
                    updatelists();
                }else{
                    Materialize.toast("Возможно прозошла ошибка. Проверьте настройки.",1000)
                    updatelists();
                }
                
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
                updatelists();
            })
            
            return false;
        })
        $('#modaleditformat').modal();
        $('#modaleditformat button.save').click(function(){
            settings["formats"][$('p#idmodalformat').html()]={
                name:$('#modaleditformat input[name="name"]').val(),
                shortname:$('#modaleditformat input[name="shortname"]').val(),
                p1:$('#modaleditformat input[name="p1"]').val(),
                p2:$('#modaleditformat input[name="p2"]').val(),
                pstep:$('#modaleditformat input[name="pstep"]').val()
            };
            $.post("/admin/settings/update",{settings:JSON.stringify(settings)},function(d){
                if(d="ok"){
                    Materialize.toast("Настройки изменены",1000)
                    $('#modaleditformat').modal('close');
                    updatelists();
                }else{
                    Materialize.toast("Возможно прозошла ошибка. Проверьте настройки.",1000)
                    updatelists();
                }
                
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
                updatelists();
            })
        });
        $('#modaleditfine').modal();
        $('#modaleditfine button.save').click(function(){
            settings["fines"][$('p#idmodalfine').html()]={
                message:$('#modaleditfine input[name="message"]').val(),
                typeF:$('#modaleditfine select[name="typeF"]').val(),
                sum:$('#modaleditfine input[name="sum"]').val()
            };
            $.post("/admin/settings/update",{settings:JSON.stringify(settings)},function(d){
                if(d="ok"){
                    Materialize.toast("Настройки изменены",1000)
                    $('#modaleditfine').modal('close');
                    updatelists();
                }else{
                    Materialize.toast("Возможно прозошла ошибка. Проверьте настройки.",1000)
                    updatelists();
                }
                
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
                updatelists();
            })
        });
        $('#findnewfilials .collapsible-header').click(function(){
            $.getJSON('https://egevpare.bitrix24.ru/rest/4/bi7mrmspicm9ap05/crm.lead.userfield.list/',function(data){
                $('#newfilialstoaddlist').html('');
                data.result.find(function(el){
                    return el.ID=="434";
                }).LIST.forEach(function(f){
                    console.log(f);
                    if(!settings.branchs.find(function(d){
                        return f.VALUE==d.name
                    })) $('#newfilialstoaddlist').append([
                        '<div><div class="col s5 input-field"><input disabled name="name" value="',
                        f.VALUE
                        ,'"></div><div class="col s5 input-field"><input value="',
                        f.VALUE.split('] ').splice(1).join(']').substring(0,3).toUpperCase(),"-",
                        f.VALUE.split('] ')[0].substring(1),
                        ,'" name="shortname" type="text" required="" class="validate"></div>',
                        '<div  class="col s2" style="height:66px">',
                        '<a onclick="($(this).parent().parent().remove())" class="btn-floating" style="background:#f44336!important;"><i class="material-icons">clear</i></a></div></div>'
                        ].join(''));
                });
                if($('#newfilialstoaddlist').html()=="") $('#newfilialstoaddlist').html('<p>Новых филиалов не найдено</p>');
                
            }).fail(function(){
                Materialize.toast('Произошла ошибка');
            })
        });
        $('#newfilialstoaddbtn').click(function(){
            $('#newfilialstoaddlist').each(function(){
                settings.branchs.push({
                    name:$(this).find("[name=name]").val(),
                    shortname:$(this).find("[name=shortname]").val()
                });
            });
            $.post("/admin/settings/update",{settings:JSON.stringify(settings)},function(d){
                if(d="ok"){
                    Materialize.toast("Филиалы добавлены",1000)
                    $('.collapsible').collapsible('close', 1);
                    updatelists();
                }else{
                    Materialize.toast("Возможно прозошла ошибка. Проверьте настройки.",1000)
                    updatelists();
                }
                
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
                updatelists();
            })
        });
    });
    var editformat=function(i){
        $('#modaleditformat input[name="name"]').val(settings.formats[i].name);
        $('#modaleditformat input[name="shortname"]').val(settings.formats[i].shortname);
        $('#modaleditformat input[name="p1"]').val(settings.formats[i].p1);
        $('#modaleditformat input[name="p2"]').val(settings.formats[i].p2);
        $('#modaleditformat input[name="pstep"]').val(settings.formats[i].pstep);

        $('p#idmodalformat').html(i)
        $('#modaleditformat').modal('open');
        
      }
    var editfine=function(i){
        $('#modaleditfine input[name="message"]').val(settings.fines[i].message);
        $('#modaleditfine input[name="sum"]').val(settings.fines[i].sum);
        $('#modaleditfine select[name="typeF"]').val(settings.fines[i].typeF);
        $('p#idmodalfine').html(i)
        $('#modaleditfine').modal('open');
        
      }
block content
    .row
        .col.s12
            ul.tabs.tabs-fixed-width.tabs-teal
                li.tab.cal.s3
                    a(href="#branchs") Филиалы
                li.tab.cal.s3
                    a(href="#subjects") Предметы
                li.tab.cal.s3
                    a(href="#courses") Курсы
                li.tab.cal.s3
                    a(href="#formats") Форматы
                li.tab.cal.s3
                    a(href="#fines") Штрафы
    .row
        ul.collapsible.popout.col.s12#branchs(data-collapsible='accordion') 
            li
                .collapsible-header  Добавить новый филиал
                .collapsible-body
                    form
                        .row
                            .col.s12.input-field 
                              label Название
                              input.validate(name='name',type="text",required)
                            .col.s12.input-field 
                              label Короткое название
                              input.validate(name='shortname',type="text",required)
                            .col.s12
                              button.btn.waves-effect.s12(type="submit") Добавить филиал
            li#findnewfilials
                .collapsible-header Синхронизировать с Битрикс
                .collapsible-body
                    p Новые филиалы:
                    #newfilialstoaddlist
                    button.btn.waves-effect.s12#newfilialstoaddbtn Добавить новые филиалы
                    
            li.list
                .collapsible-header  Список филиалов
                .collapsible-body
        ul.collapsible.popout.col.s12#subjects(data-collapsible='accordion')
            li
                .collapsible-header  Добавить новый предмет
                .collapsible-body
                    form
                        .row
                            .col.s12.input-field 
                              label Название
                              input.validate(name='name',type="text",required)
                            .col.s12.input-field 
                              label Короткое название
                              input.validate(name='shortname',type="text",required)
                            .col.s12
                              button.btn.waves-effect.s12(type="submit") Добавить предмет
            li.list
                .collapsible-header  Список предметов
                .collapsible-body
        ul.collapsible.popout.col.s12#courses(data-collapsible='accordion')
            li
                .collapsible-header  Добавить новый курс
                .collapsible-body
                    form
                        .row
                            .col.s12.input-field 
                              label Название
                              input.validate(name='name',type="text",required)
                            .col.s12.input-field 
                              label Короткое название
                              input.validate(name='shortname',type="text",required)
                            .col.s12
                              button.btn.waves-effect.s12(type="submit") Добавить курс            
            li.list
                .collapsible-header  Список курсов
                .collapsible-body
        ul.collapsible.popout.col.s12#formats(data-collapsible='accordion')
            li
                .collapsible-header  Добавить новый формат обучения
                .collapsible-body
                    form
                        .row
                            .col.s12.input-field 
                              label Название
                              input.validate(name='name',type="text",required)
                            .col.s12.input-field 
                              label Короткое название
                              input.validate(name='shortname',type="text",required)
                            .col.s12.m4.input-field 
                              label Оплата за 1 человека
                              input.validate(name='p1',type="number",required)
                            .col.s12.m4.input-field 
                              label Оплата за 2 человека
                              input.validate(name='p2',type="number",required)
                             .col.s12.m4.input-field 
                              label Шаг оплаты
                              input.validate(name='pstep',type="number",required)
                            .col.s12
                              button.btn.waves-effect.s12(type="submit") Добавить формат            
            li.list
                .collapsible-header  Список форматов обучения
                .collapsible-body
        ul.collapsible.popout.col.s12#fines(data-collapsible='accordion')
            li
                .collapsible-header  Добавить новый штраф
                .collapsible-body
                    form
                        .row
                            .col.s12.input-field 
                              label Название штрафа
                              input.validate(name='name',type="text",required)
                            .col.s12.input-field 
                              select(required,name='typeF')
                                option(value='0') С привязкой к уроку
                                option(value='1') Без привязки к уроку
                              label Тип
                            .col.s12.input-field 
                              label Сумма штрафа
                              input.validate(name='sum',type="number",required,min=0)
                            .col.s12
                              button.btn.waves-effect.s12(type="submit") Добавить штраф            
            li.list
                .collapsible-header  Список штрафов
                .collapsible-body
    #modaleditformat.modal.full.modal-fixed-footer
      .modal-content
        p#idmodalformat
        h4 Изменить формат обучения
        .col.s12.input-field 
          label Название
          input.validate(name='name',type="text",required,value=" ")
        .col.s12.input-field 
          label Короткое название
          input.validate(name='shortname',type="text",disabled,value=" ")
        .col.s12.m4.input-field 
          label Оплата за 1 человека
          input.validate(name='p1',type="number",required,value="-1")
        .col.s12.m4.input-field 
          label Оплата за 2 человека
          input.validate(name='p2',type="number",required,value="-1")
         .col.s12.m4.input-field 
          label Шаг оплаты
          input.validate(name='pstep',type="number",required,value="-1")
      .modal-footer
        //button.waves-effect.waves-red.btn-flat.delete Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить
    #modaleditfine.modal.full.modal-fixed-footer
      .modal-content
        p#idmodalfine
        h4 Изменить штраф
        .col.s12.input-field 
          label Название штрафа
          input.validate(name='message',type="text",required,value=0)
        .col.s12.input-field 
          select(required,name='typeF')
            option(value='0') С привязкой к уроку
            option(value='1') Без привязки к уроку
          label Тип
        .col.s12.input-field 
          label Сумма штрафа
          input.validate(name='sum',type="number",required,min=0,value=0)
      .modal-footer
        //button.waves-effect.waves-red.btn-flat.delete Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить