extends ../layout
block head
  title Ученики
  link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.css')
  script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.js')
  script(src="/js/maskinput.js")
  script(src="/js/dateformated.js")
  script.
    var w=['ВС', 'ПН', 'ВТ', "СР",'ЧТ', 'ПТ', 'СБ', 'ВС'];
    var ds_pickadate = {
        onRender: function() {
            console.log(this);
            $('.browser-default').removeClass('browser-default').addClass('browser-default');
            $('select').material_select();
        },
        selectMonths: true,
        selectYears: 40,

        labelMonthSelect: 'Pick a month from the dropdown',
        labelYearSelect: 'Pick a year from the dropdown',
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true,
        format: "dd.mm.yyyy",
        monthsShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        weekdaysShort: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
        weekdaysFull: w,
        showWeekdaysFull: true,
        firstDay: 2,
        today: 'Сегодня',
        clear: 'Очистить',
        close: 'Ok',
        closeOnSelect: false,
        max: true
    }
    var dateSupport,subjects={}; 
    $(document).ready(function() {
        mP.init();
        var i = document.createElement("input");
        i.setAttribute("type", "date");
        dateSupport = i.type !== "text";
        if(!dateSupport){
            $("input[type='date']").each(function(){
              var n= $('<input required class="unsupportivedate validate"></input>');
              $(this).after(n);
              var self=this;
              $(this).hide();
              $(this.nextElementSibling).mask("99.99.9999");
              $(this.nextElementSibling).change(function(){
                self.value=this.value.split('.').reverse().join('-');
              });
              $(this).change(function(){
                self.nextElementSibling.value=self.value.split('-').reverse().join('.');
              });
            });
        }
        var table, students;

        $("input[type='tel']").mask("+7 (999) 999-9999");
        $.getJSON("/settings",function(settings){
          subjects={};
          settings.subjects.forEach(function(b){
            subjects[b.shortname]=b.name;
          });
        }).fail(function(){
          Materialize.toast('Не удалось подгрузить настройки.',3000);
        });
        $('#listopener').click(function() {
            if (table) table.destroy();
            $('#listofstudents').html('<div class="progress"><div class="indeterminate"></div></div>');
            $.getJSON('/admin/students/list', function(data) {
                var a;
                students = data;
                $('#listofstudents').html('');
                data.forEach(function(d, i) {
                    a = ['<tr><td>', d.surname, '</td><td>', d.name,
                        '</td><td>', d.secname, '</td><td>', d.date?getDateFormated(d.date, 1):'',
                        '</td><td>', d.email, '</td><td>', d.form,
                        '</td><td><a onclick="editstudent(', i, ')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a></td></tr>'
                    ];
                    $('#listofstudents').append(a.join(''));
                })
                table = $("#tablestudents").DataTable();
                $("#tablecont select").material_select();
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.", 1000)
            });
        });
        $('#adduserform').submit(function(e) {
            $.post("/admin/students/add", $(this).serialize(), function(d) {
                if (d = "ok") {
                    Materialize.toast("Ученик добавлен успешно", 1000)
                    $('#adduserform input').val('');
                    if(!dateSupport){
                      $('#adduserform .unsupportivedate').val('');
                    }
                } else {
                    Materialize.toast("Возможно прозошла ошибка. Проверьте список.", 1000)
                }
  
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.", 1000)
            })
            e.preventDefault();
            return false;
        });
        $('#modaleditstudent button.save').click(function(){
          var a={}
          a.date=$('#modaleditstudent input[name="date"]').val()||undefined;
          ["surname", "name", "secname", "email", "tel", "form"].forEach(function(field) {
              a[field]=$('#modaleditstudent [name="' + field + '"]').val();
          });
          a._id=$('#idmodalstudent').html();
          $.post("/admin/students/update/",{json:JSON.stringify(a)},function(d){
                Materialize.toast("Изменения сохранены",1000)
                $('#modaleditstudent').modal('close');
                $('#listopener').click();
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
          
        })
        $('.modal').modal();
        editstudent = function(i) {
            var s = students[i];
            $('#idmodalstudent').html(s._id);
            if(s.date) $('#modaleditstudent input[name="date"]').val(s.date.split('T')[0]);
            else $('#modaleditstudent input[name="date"]').val('');
            ["surname", "name", "secname", "email", "tel", "form"].forEach(function(field) {
                $('#modaleditstudent [name="' + field + '"]').val(s[field]);
            });
            if(!dateSupport) $('#modaleditstudent .unsupportivedate').val($('#modaleditstudent input[name="date"]').val().split('-').reverse().join('.'))
            $("#modaleditstudent").modal('open');
            $('select').material_select();
            var subjectsF,tutors;
            subjectsF={};
            tutors={};
            $('#subjectsmodallist').html('<div class="progress"><div class="indeterminate"></div></div>');
            $('#tutorsmodallist').html('<div class="progress"><div class="indeterminate"></div></div>');
            $.getJSON('/admin/groups/list',{
              students:s._id
            },function(d){
              $('#subjectsmodallist').html('');
              $('#tutorsmodallist').html('');
              
              d.forEach(function(g){
                if(subjectsF[g.subject]) subjectsF[g.subject]++;
                else subjectsF[g.subject]=1;
                if(!tutors[g.tutor]) tutors[g.tutor]=g.cache.tutor;
              });
              var i;
              for(i in subjectsF){
                $('#subjectsmodallist').append([
                  '<li class="collection-item dismissable"><div>',
                  subjects[i],"<span class='badge'>",subjectsF[i],
                  '</span></div></li>'
                ].join(''))
              }
              for(i in tutors){
                $('#tutorsmodallist').append([
                  '<li class="collection-item dismissable"><div>',
                  tutors[i].surname," ",tutors[i].name," ",tutors[i].secname,
                  '</div></li>'
                ].join(''))
              }
            }).fail(function(){
              $('#subjectsmodallist').html('Произошла ошибка.');
              $('#tutorsmodallist').html('Произошла ошибка.');
              Materialize.toast('Не удалось подгрузить списки учителей и предметов.',3000);
            });
        }
        $('.modal-trigger[href="#modalmerge"]').click(function(err){
            $('#modalmerge').modal();
            merge2();
          });
          var tmp_users_for_merge=[];
          merge2=function(){
            $('#modalmerge ul.tabs').tabs('select_tab', 'merge1');
            $('#merge1 #g1merge').html('<div class="progress"><div class="indeterminate"></div></div>');
            $('#merge2 #g2merge').html('Сначала выберите первый аккаунт');
            $.getJSON('/admin/students/list',function(data){
              tmp_users_for_merge=data;
              $('#merge1 #g1merge').html('');
              var a;
              data.forEach(function(d){
                $('#merge1 #g1merge').append([
                    '<li class="collection-item dismissable"><div>',
                    d.surname,' ',d.name,' ',d.secname,', ', d.form,' класс',
                    '</span><a onclick="merge3(\'',d._id,
                    ,'\')" class="secondary-content btn-floating"><i class="material-icons">navigate_next</i></a></div></li>'
                ].join(''));
              });
            }).fail(errorHandler);
          };
          merge3=function(g1){
            $('#modalmerge ul.tabs').tabs('select_tab', 'merge2');
            $('#merge2 #g2merge').html('');
            var a;
            var data=tmp_users_for_merge;
            data.forEach(function(d){
              if(d._id==g1) return;
              $('#merge2 #g2merge').append([
                  '<li class="collection-item dismissable"><div>',
                    d.surname,' ',d.name,' ',d.secname,', ', d.form,' класс',
                  '</span><a onclick="merge_users(\'',g1,"','",d._id,
                  ,'\')" class="secondary-content btn-floating"><i class="material-icons">navigate_next</i></a></div></li>'
              ].join(''));
            });
          };
          merge_users=function(g1,g2){
            $('#modalmerge').modal('close');
            mP.open('Вы действительно хотите объединить аккаунты учеников?',
             'Данное действие <b>не обратимо</b>.',function(){
                $.post('/admin/students/merge',{
                  _id1:g1,
                  _id2:g2
                },function(data){
                  console.log(data);
                }).fail(errorHandler);
                mP.close();
             },function(){
                 mP.close();
                $('#modalmerge').modal('open');
             })
          };
    });
    var editstudent,merge_users;
block content
    ul.collapsible.popout(data-collapsible='accordion') 
        li
            .collapsible-header  Добавить нового
            .collapsible-body
                form#adduserform
                  .row
                    .col.s6.input-field 
                      label(for='surnameinput') Фамилия
                      input.validate#surnameinput(name='surname',type="text",required)
                    .col.s6.input-field 
                      label(for='nameinput') Имя
                      input.validate#nameinput(name='name',type="text",required)
                    .col.s6.input-field 
                      label(for='secnameinput') Отчество
                      input.validate#secnameinput(name='secname',type="text",required)
                    .col.s6.input-field(style="padding-bottom:5px;")
                      select(name="form" required)
                        option(value="" disabled selected) Выберите класс
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") 8
                        option(value="9") 9
                        option(value="10") 10
                        option(value="11") 11
                        option(value="12") Другой
                      label Класс
                    .col.s6.input-field 
                      label.active(for='dateinput') Дата рождения
                      input.validate#dateinput(placeholder='01.01.1997',name='date',type="date",required)
                    .col.s6.input-field 
                      label(for='emailinput') E-mail
                      input.validate#emailinput(name='email',type="email",required)
                    .col.s6.input-field 
                      label(for='telinput') Номер телефона
                      input.validate#telinput(name='tel',type="tel",required)
                    .col.s12
                      button.btn.waves-effect.s12(type="submit") Зарегистрировать
        li
            .collapsible-header.modal-trigger(href="#modalmerge")  Объединить аккаунты (тест)
        li
            .collapsible-header#listopener  Список
            .collapsible-body#tablecont
                table#tablestudents
                    thead
                        tr
                            td Фамилия
                            td Имя
                            td Отчество
                            td Дата рождения
                            td E-mail
                            td Класс
                            td 
                    tbody#listofstudents
    #modaleditstudent.modal.full.modal-fixed-footer
      .modal-content
        p#idmodalstudent
        h4 Редактировать ученика
        .row
          .col.s6.input-field 
            label.active Фамилия
            input.validate(name='surname',type="text",required,value="Ошибка")
          .col.s6.input-field 
            label.active Имя
            input.validate(name='name',type="text",required,value="Ошибка")
          .col.s6.input-field 
            label.active Отчество
            input.validate(name='secname',type="text",required,value="Ошибка")
          .col.s6.input-field(style="padding-bottom:5px;")
            select(name="form" required)
              option(value="" disabled selected) Выберите класс
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6
              option(value="7") 7
              option(value="8") 8
              option(value="9") 9
              option(value="10") 10
              option(value="11") 11
              option(value="12") Другой
            label Класс
          .col.s6.input-field 
            label.active Дата рождения
            input.validate(placeholder='01.01.1997',name='date',type="date",required,value="Ошибка")
          .col.s6.input-field 
            label.active E-mail
            input.validate(name='email',type="email",required,value="Ошибка")
          .col.s6.input-field 
            label.active Номер телефона
            input.validate(name='tel',type="tel",value="Ошибка")
        p Предметы:
        ul.collection#subjectsmodallist
        p Преподаватели:
        ul.collection#tutorsmodallist
      .modal-footer
        button.waves-effect.waves-red.btn-flat.delete.disabled Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить
    #modalmerge.modal.full.modal-fixed-footer
      .modal-content
        h4 Объединение аккаунтов ученика
        ul#tabs-merge.tabs.tabs-teal.tabs-fixed-width
          li.tab.col.s3
            a.active(href='#merge1') 1 шаг
          li.tab.col.s3
            a.active(href='#merge2') 2 шаг         
        #merge1.col.s12 
          h5 Выберите первый аккаунт ученика
          ul.collection.s12#g1merge 
        #merge2.col.s12 
          h5 Выберите второй аккаунт ученика
          ul.collection.s12#g2merge Сначала выберите первый аккаунт
         
        
      .modal-footer
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
              