extends ../layout
block head
    title График
    script(src="/js/dateformated.js")
    script.
        var errorHandler = function(){
            Materialize.toast('Произошла ошибка.',1000);
        }
        var w=['ВС', 'ПН', 'ВТ','СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'];
        var loadtl=function (dd,branch){
            if(branch=="all") branch=0;
            var dW=(new Date(dd)).getDay();
            dd=new Date(dd);
            var tmp_d,tmp_d2;
            var tbody=$('#groupstable > tbody');
            tbody.html('<div class="progress"><div class="indeterminate"></div></div>')
            tmp_d=(new Date(dd)).toISOString().split('T')[0]+"T00:00:00+03:00";
            tmp_d2=(new Date(dd)).toISOString().split('T')[0]+"T23:59:59+03:00";
            $.getJSON('/admin/lessons/list',{
                json:JSON.stringify({
                    date:{"$gte":tmp_d , "$lt": tmp_d2}
                })
            },function(lessons){
                $.getJSON('/admin/groups/list',{
                    dayW:dW,
                    branch:branch||undefined
                },function(d){
                    d.sort(function(a,b){
                        return Number(a.time.split(':').join(''))>Number(b.time.split(':').join(''));
                    })
                    var a,z;
                    tbody.html('');
                    d.forEach(function(g){
                        a=[];
                        g.cache.students.forEach(function(st){
                            a.push(st.surname);
                        });
                        a.join(',');
                        tmp_d=new Date(dd);
                        tmp_d.setHours(Number(g.time.split(':')[0]));
                        tmp_d.setMinutes(Number(g.time.split(':')[1]));
                        if(lessons.find(function(e){
                            var z=(new Date(e.date)).getTime()-tmp_d.getTime();
                            return -100000 < z&&z<100000;
                        })) z='<a class="btn-floating disabled" style="background:#4CAF50!important;"><i class="material-icons">done</i></a>';
                        else z='<a class="btn-floating disabled" style="background:#f44336!important;"><i class="material-icons">clear</i></a>';//'</td><td><a class="btn-floating tooltipped addlesson" data-tooltip="Провести урок"><i class="material-icons">add</i></a>';
                        tbody.append([
                        "<tr><td><span class='hidden gdata'>",JSON.stringify(g),"</span>",g.time,
                        '</td><td>',g.cache.tutor.surname," ",g.cache.tutor.name," ",g.cache.tutor.secname,
                        '</td><td>',branchs[g.branch],
                        '</td><td>',g.cache.tutor.surname,g.cache.tutor.name[0],g.cache.tutor.secname[0],"-",
                        g.subject,"-",g.branch,'-',w[g.dayW],'-',g.time,
                          ' (',a.join(', '),")</td><td>",z,"</td></tr>"
                        ].join(''));
                    });
                    $('#groupstable a.addlesson').click(function(){
                        var g=JSON.parse($(this).parents('tr').find('span.gdata').html());
                        tmp_d=(new Date(dd)).toISOString().split('T')[0]+"T"+g.time+":00+03:00";
                        console.log((new Date(tmp_d)).getTime()-(new Date()).getTime())
                        if((new Date(tmp_d)).getTime()-(new Date()).getTime()>1800000){
                            return Materialize.toast('Занятие можно проводить не раньше чем за 15 минут до начала ',3000);
                        }
                        var z={
                        group:g._id,
                        date:tmp_d,
                        cache:{group:g}
                        };
                        z.cache=JSON.stringify(z.cache);
                        $.post("/lessons/add/",z,function(d){
                          if(d="ok"){
                              Materialize.toast("Занятие проведено",1000)
                              loadtl(dd);
                          }else{
                              Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000);
                          }
                          
                        }).fail(function(err) {
                          console.log(err);
                          if(err.status==406){
                            Materialize.toast("Произошла ошибка. Возможно, вы хотели провести занятие более чем за 15 минут до начала.",3000)
                          }
                          else Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
                        })
                    })
                    $('.tooltipped').tooltip({delay: 50,position:"top"});
                }).fail(errorHandler);   
            }).fail(errorHandler);
           
        };
        var ds_pickadate={
            onRender: function() {
              console.log(this);
              $('select').material_select();
            },
            selectYears: true,
            selectMonths:true,
            labelMonthSelect: 'Pick a month from the dropdown',
            labelYearSelect: 'Pick a year from the dropdown',
            formatSubmit: 'yyyy-mm-dd',
            hiddenName: true,
            format:"dd.mm.yyyy",
            monthsShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
            weekdaysShort: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
            weekdaysFull:w,
            showWeekdaysFull:true,
            firstDay: 2,
            today: 'Сегодня',
            clear: 'Очистить',
            close: 'Ok',
            closeOnSelect: false
          }
        var branchs={};  
        $(document).ready(function(){
            $('#dateselection input[name="date"]').val(getDateFormated(new Date(),1));
            $('input[name="date"]').pickadate(ds_pickadate);
            $.getJSON('/settings/',function(d){
                d.branchs.forEach(function(b){
                    $('#branchselect').append("<option value='"+b.shortname+"'>"+b.name+"</option>"); 
                    $('select').material_select();
                    branchs[b.shortname]=b.name;
                });
                loadtl($("#dateselection input[name='date']").val(),$('#branchselect').val());
                $('#filterapply').click(function(){
                    loadtl($("#dateselection input[name='date']").val(),$('#branchselect').val());
                });
            }).fail(errorHandler);
            
        });
block content
    .col(style="padding: 26px 0;")
        span График на
    .col#dateselection(style="margin-top: 14px;")
        input(type='text',name="date")
    .col
        .input-field.col
            select#branchselect(name="branch" required)
                option(value="all" selected) Все филиалы
            label Филиал
    .col(style="margin-top: 23px;")
        button.btn#filterapply Применить
    table.tbl#groupstable
        thead  
            tr  
                td Время
                td Преподаватель
                td Филиал
                td Группа
                td Занитие проведено
        tbody
    
    