extends ../layout
block head
  title Преподаватели
  link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.css')
  script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.js')
  script(src="/js/maskinput.js")
  script.
    var table;
    $(document).ready(function(){
      var students,tutors,settings;
      var bbbbb=function(){
        if($(this).val()==$("#passinput").val()){
          $(this).addClass("valid");
          $(this).removeClass("invalid");
        }else{
          $(this).addClass("invalid");
          $(this).removeClass("valid");
        }
      };
      $.getJSON('/settings/',function(d){
        settings=d;
      }).fail(function(){
        Materialize.toast("Нк удалось подгрузить настройки",1000);
      });
      $("input[type='tel']").mask("+7 (999) 999-9999");
      $("#passinputch").keyup(bbbbb);
      $("#passinputch").change(bbbbb);
      $('#addtutor form').submit(function(e){
          e.preventDefault();
          if($("#passinputch").val()!=$("#passinput").val()){
            $("#passinputch").focus();
            return false;
          }
          $.post("/admin/tutors/add/",$('#addtutor form').serialize(),function(d){
              if(d="ok"){
                  Materialize.toast("Преподаватель зарегистрирован",1000)
                  $('#addtutor input,select').val('');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000);
              }
              
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
          return false;
        });
        $('#listopener').click(function(){
            if(table) table.destroy();
            $('#listoftutors').html('<div class="progress"><div class="indeterminate"></div></div>');
            $.getJSON('/admin/list/user', function(data) {
              tutors=data;
              var a;
              $('#listoftutors').html('');
              data.forEach(function(d,i){
                    $('#listoftutors').append([
                      '<tr><td>',d.surname,'</td><td>',d.name,'</td><td>',d.secname,
                      '</td><td>',d.email,'</td><td>',d.tel,'</td><td>',
                      '<a onclick="edittutor(',i,
                      ')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a>','</td></tr>'
                    ].join(''));
              })
              table = $('#tutorstable').DataTable();

            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
        })
      $('.modal').modal();
      $('#modaledittutor button.save').click(function(){
        $.post("/admin/tutors/update/",{
          surname:$('#modaledittutor input[name="surname"]').val(),
          name:$('#modaledittutor input[name="name"]').val(),
          secname:$('#modaledittutor input[name="secname"]').val(),
          email:$('#modaledittutor input[name="email"]').val(),
          tel:$('#modaledittutor input[name="tel"]').val(),
          _id:$('#idmodaltutor').html()
        },function(d){
              if(d="ok"){
                  Materialize.toast("Изменения сохранены",1000)
                  $('#modaledittutor').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        
      })
      $('#modaledittutor button.delete').click(function(){
        $.post("/admin/tutors/remove/",{
          _id:$('#idmodaltutor').html()
        },function(d){
              if(d="ok"){
                  Materialize.toast("Преподаватель успешно удалён",1000)
                  $('#modaledittutor').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
      })
      $('#modaledittutor button.editrmn').click(function(){
        var el=$('#modaledittutorrmns .formats'),prices;
        el.html('');
        var tutor = tutors[$('#imodaltutor').html()];
        var n=[];
        settings.formats.forEach(function(f){
          if(tutor.prices&&tutor.prices[f.shortname]){
            prices=tutor.prices[f.shortname];
          }else{
            prices={
              p1:-1,
              p2:-1,
              pstep:-1
            }
          }
          n=[Math.random(),Math.random(),Math.random()];
          el.append([
            '<div class="format">',
            '<p>'+f.name+' (<span class="shortnameformat">',f.shortname,'</span>)</p> <div class="col s12 m4 input-field">',
            '<label for="inputrmn-',n[0],'" class="active">Оплата за 1 человека</label>',
            '<input id="inputrmn-',n[0],'" name="p1" type="number" required="required" min="-1" value="',prices.p1,'" class="validate"/>',
            '</div><div class="col s12 m4 input-field">',
            '<label for="inputrmn-',n[1],'" class="active">Оплата за 2 человека</label>',
            '<input id="inputrmn-',n[1],'" name="p2" type="number" required="required" min="-1" value="',prices.p2,'" class="validate"/>',
            '</div><div class="col s12 m4 input-field">',
            '<label for="inputrmn-',n[2],'" class="active">Шаг оплаты</label>',
            '<input id="inputrmn-',n[2],'" name="pstep" type="number" required="required" min="-1" value="',prices.pstep,'" class="validate"/>',
            '</div></div>'
          ].join(''));
        });
        $('#modaledittutorrmns').modal('open');
      });
      $('#modaledittutorrmns button.save').click(function(){
        var prices={};
        $('#modaledittutorrmns .format').each(function(){
          var id=$(this).find('.shortnameformat').html();
          prices[id]={
            p1:$(this).find('input[name="p1"]').val(),
            p2:$(this).find('input[name="p2"]').val(),
            pstep:$(this).find('input[name="pstep"]').val()
          }
        });
        $.post("/admin/tutors/update/",{
          prices:JSON.stringify(prices),
          _id:$('#idmodaltutor').html()
        },function(d){
              if(d="ok"){
                  Materialize.toast("Индивидуальные вознаграждения установлены",1000);
                  $('#modaledittutor').modal('close');
                  $('#modaledittutorrmns').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка.",1000)
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        
      })
      function randomString(l) {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      
        for (var i = 0; i < l; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length));
      
        return text;
      }
      edittutor=function(i){
        console.log(tutors[i]);
        $('#idmodaltutor').html(tutors[i]._id);
        $('#imodaltutor').html(i);
        $('#modaledittutor input[name="surname"]').val(tutors[i].surname);
        $('#modaledittutor input[name="name"]').val(tutors[i].name);
        $('#modaledittutor input[name="secname"]').val(tutors[i].secname);
        $('#modaledittutor input[name="email"]').val(tutors[i].email);
        $('#modaledittutor input[name="tel"]').val(tutors[i].tel);
        $('#studentsmodallist').html('');
        $.getJSON("/admin/tutors/students/",{
          students:JSON.stringify(tutors[i].students)
        },function(d){
          d.forEach(function(s){
             $('#studentsmodallist').append('<li class="collection-item">'+s.surname+" "+s.name+" "+s.secname+"</li>");
          });
        }).fail(function() {
            Materialize.toast("Не удалось подгрузить список учеников.",1000)
        })
        $('#modaledittutor').modal('open');
        
      }
    });
    var edittutor;
block content
    ul.collapsible.popout(data-collapsible='accordion') 
        li
            .collapsible-header  Добавить нового
            .collapsible-body#addtutor
              form
                .row
                  .col.s12.input-field 
                    label(for='emailinput') E-mail
                    input.validate#emailinput(name='email',type="email",required)
                  .col.s6.input-field 
                    label(for='passinput') Пароль
                    input.validate#passinput(name='password',type="password",required)
                  .col.s6.input-field 
                    label(for='passinputch') Повторите пароль
                    input#passinputch(type="password",required)
                  .col.s6.input-field 
                    label(for='surnameinput') Фамилия
                    input.validate#surnameinput(name='surname',type="text",required)
                  .col.s6.input-field 
                    label(for='nameinput') Имя
                    input.validate#nameinput(name='name',type="text",required)
                  .col.s6.input-field 
                    label(for='secnameinput') Отчество
                    input.validate#secnameinput(name='secname',type="text",required)
                  .col.s6.input-field 
                    label(for='telinput') Телефон
                    input.validate#telinput(name='tel',type="tel",value="+7 (___) ___-____",required)
                  .col.s12
                    button.btn.waves-effect.s12#addtutorbtn Добавить
        li
            .collapsible-header#listopener  Список
            .collapsible-body
              table.table#tutorstable
                thead
                  tr 
                    td Фамилия
                    td Имя
                    td Отчество
                    td E-mail
                    td Номер телефона
                    td
                tbody#listoftutors
    #modaledittutor.modal.full.modal-fixed-footer
      .modal-content
        p#idmodaltutor
        p#imodaltutor
        h4 Изменить информацию о преподавателе
        .row
          .col.s6.input-field 
            label E-mail
            input.validate(name='email',type="email",required,value="1@1")
          .col.s6.input-field 
            label Фамилия
            input.validate(name='surname',type="text",required,value=" ")
          .col.s6.input-field 
            label Имя
            input.validate(name='name',type="text",required,value=" ")
          .col.s6.input-field 
            label Отчество
            input.validate(name='secname',type="text",required,value=" ")
          .col.s6.input-field 
            label Телефон
            input.validate(name='tel',type="tel",value="+7 (111) 111-1111",required)
        p Ученики:
          ul.collection#studentsmodallist  
  
      .modal-footer
        button.waves-effect.btn.editrmn Установить индивидальные вознаграждения
        button.waves-effect.waves-red.btn-flat.delete Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить
    #modaledittutorrmns.modal.modal-fixed-footer.full
      .modal-content
          p#idmodaltutorrmns
          h5 Установить индивидуальные вознаграждения
          .row.formats
        .modal-footer
          a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
          button.waves-effect.waves-green.btn-flat.save Сохранить