nav.bgteal(role='navigation')
    .nav-wrapper.container
        a.button-collapse(href="#",data-activates="nav-mobile")
            i.material-icons menu
        a#logo-container.brand-logo(href='/') 
            img(src="/img/logo.png" alt="TwoStu" height=50) 
        ul.right.hide-on-med-and-down
            li
                if user
                    a(href='/signout') Выйти
        ul#nav-mobile.side-nav
            li
                if user
                    if !admin
                        a(class=(url=="/timeline")?'active subheader':"",href=(url=="/timeline")?undefined:"/timeline") График
                        a(class=(url=="/lessons")?'active subheader':"",href=(url=="/lessons")?undefined:"/lessons") Занятия
                        a(class=(url=="/groups")?'active subheader':"",href=(url=="/groups")?undefined:"/groups") Группы
                        a(class=(url=="/students")?'active subheader':"",href=(url=="/students")?undefined:"/students") Ученики
                    if admin
                        a(class=(url=="/admin/timeline")?'active subheader':"",href=(url=="/admin/timeline")?undefined:"/admin/timeline") График
                        a(class=(url=="/admin/remunerations")?'active subheader':"",href=(url=="/admin/remunerations")?undefined:"/admin/remunerations") Вознаграждения
                        a(class=(url=="/admin/lessons")?'active subheader':"",href=(url=="/admin/lessons")?undefined:"/admin/lessons") Занятия
                        a(class=(url=="/admin/students")?'active subheader':"",href=(url=="/admin/students")?undefined:"/admin/students") Ученики
                        a(class=(url=="/admin/groups")?'active subheader':"",href=(url=="/admin/groups")?undefined:"/admin/groups") Группы
                        a(class=(url=="/admin/tutors")?'active subheader':"",href=(url=="/admin/tutors")?undefined:"/admin/tutors") Преподаватели
                        a(class=(url=="/admin/db")?'active subheader':"",href=(url=="/admin/db")?undefined:"/admin/db") База данных
                        a(class=(url=="/admin/settings")?'active subheader':"",href=(url=="/admin/settings")?undefined:"/admin/settings") Настройки
                    a(href='/signout') Выйти 