if user
	if !admin
		.collection.sidebar
			a.collection-item(class=(url=="/timeline")?'active':"",href=(url=="/timeline")?undefined:"/timeline") График
			a.collection-item(class=(url=="/lessons")?'active':"",href=(url=="/lessons")?undefined:"/lessons") Занятия
			a.collection-item(class=(url=="/groups")?'active':"",href=(url=="/groups")?undefined:"/groups") Группы
			a.collection-item(class=(url=="/students")?'active':"",href=(url=="/students")?undefined:"/students") Ученики
	if admin
		.collection
			a.collection-item(class=(url=="/admin/timeline")?'active':"",href=(url=="/admin/timeline")?undefined:"/admin/timeline") График
			a.collection-item(class=(url=="/admin/remunerations")?'active':"",href=(url=="/admin/remunerations")?undefined:"/admin/remunerations") Вознаграждения
			a.collection-item(class=(url=="/admin/lessons")?'active':"",href=(url=="/admin/lessons")?undefined:"/admin/lessons") 
				span.new.badge(data-badge-caption="") #{counterL} 
				|  Занятия
			a.collection-item(class=(url=="/admin/students")?'active':"",href=(url=="/admin/students")?undefined:"/admin/students") Ученики
			a.collection-item(class=(url=="/admin/groups")?'active':"",href=(url=="/admin/groups")?undefined:"/admin/groups") Группы
			a.collection-item(class=(url=="/admin/tutors")?'active':"",href=(url=="/admin/tutors")?undefined:"/admin/tutors") Преподаватели
			if(admin==240901)
				a.collection-item(class=(url=="/admin/login")?'active':"",href=(url=="/admin/login")?undefined:"/admin/login") Войти под пользователем
				a.collection-item(class=(url=="/admin/controll")?'active':"",href=(url=="/admin/controll")?undefined:"/admin/controll") Управление ролями
				a.collection-item(class=(url=="/admin/db")?'active':"",href=(url=="/admin/db")?undefined:"/admin/db") База данных
				a.collection-item(class=(url=="/admin/settings")?'active':"",href=(url=="/admin/settings")?undefined:"/admin/settings") Настройки
	.card-panel.pointer(href='#feedback',style='cursor:pointer;')
		p Нажмите сюда, чтобы связаться с разработчиком системы
	.modal#feedback
		.modal-content.white
			h5 Форма обратной связи
			script(src="https://yastatic.net/q/forms-frontend-biz/_/embed.js")
			iframe(src="https://connect.yandex.ru/forms/5b61f2e17bce43004900cdaa/?iframe=1" frameborder="0" name="ya-form-5b61f2e17bce43004900cdaa" width="650")
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat Закрыть
	script.
		$('#feedback').modal();
		$("[href='#feedback']").click(function(){
			$('#feedback').modal('open');
		});