extends layout
block head
  title Группы
  script.
    var groups;
    var updateTable=function(){
            $('#listofgroups').html('<div class="progress"><div class="indeterminate"></div></div>');
            $.getJSON('/groups/list', function(data) {
              groups=data;
              var a;
              $('#listofgroups').html('');
              data.forEach(function(d,i){
                    a=[];
                    d.cache.students.forEach(function(s){
                      a.push(s.surname)
                    });
                    var w=['ВС', 'ПН', 'ВТ','СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'];
                    $('#listofgroups').append([
                      '<li class="collection-item dismissable"><div>',
                      d.subject,"-",d.branch,'-',w[d.dayW],'-',d.time,
                      ' (',a.join(', '),")<span class='badge'>",d.students.length,
                      '</span><a onclick="editgroup(',i
                      ,')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a></div></li>'
                    ].join(''));
              })
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
        }
    $(document).ready(function(){
      $('.collapsible').collapsible('open', 1);
      updateTable();
      var students,settings;
      $('#timeinput').pickatime({
        default: 'now', 
        fromnow: 0,   
        twelvehour: false, 
        donetext: 'OK',
        cleartext: 'Очистить', 
        canceltext: 'Отмена',
        autoclose: false, 
        ampmclickable: false,
        aftershow: function(){} 
      });
      $.getJSON("/settings/",function(data){
        settings=data;
        var n=$("#branchselect");
        var n2=$("#branchselectmodal");
        data.branchs.forEach(function(branch){
          n.append("<option value='"+branch.shortname+"'>"+branch.name+"</option>");
          n2.append("<option value='"+branch.shortname+"'>"+branch.name+"</option>");
        });
        n=$("#subjectselect");
        n2=$("#subjectselectmodal");
        data.subjects.forEach(function(s){
          n.append("<option value='"+s.shortname+"'>"+s.name+"</option>");
          n2.append("<option value='"+s.shortname+"'>"+s.name+"</option>");
        });
        n=$("#courseselect");
        n2=$("#courseselectmodal");
        data.courses.forEach(function(c){
          n.append("<option value='"+c.shortname+"'>"+c.name+"</option>");
          n2.append("<option value='"+c.shortname+"'>"+c.name+"</option>");
        });
        $('select').material_select();
      });
      $.getJSON("/students/list",function(data){
        students=data;
        data.forEach(function(a){
              $('#studentsselect').append("<option value='"+a._id+"'>"+a.surname+" "+a.name+" "+a.secname+"</option>"); 
              $('#addstudenttogroup select').append("<option value='"+a._id+"'>"+a.surname+" "+a.name+" "+a.secname+"</option>"); 
        });
        $('select').material_select();
        $('#addgroupbtn').click(function(){
          if(!$('#studentsselect').val()) {
            Materialize.toast('Заполните поле "Ученики"');
            return false;
          }
          $.post("/groups/add/",{
            students:JSON.stringify($('#studentsselect').val()),
            branch:$("#branchselect").val(),
            subject:$("#subjectselect").val(),
            dayW:$('#addgroup select[name="dayW"]').val(),
            time:$('#addgroup input[name="time"]').val(),
            comment:$('#commentinputs').val(),
            course:$("#courseselect").val()
          },function(d){
              if(d="ok"){
                  Materialize.toast("Группа создана",1000)
                  $('#addgroup input,select').val('');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000);
              }
              
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        });
        $('#listopener').click(updateTable);
      })
      $('#modaleditgroup').modal();
      $('#modaleditgroup button.save').click(function(){
        $.post("/groups/update/",{
          branch:$('#branchselectmodal').val(),
          subject:$('#subjectselectmodal').val(),
          course:$('#courseselectmodal').val(),
          dayW:$('#modaleditgroup select[name="dayW"]').val(),
          time:$('#timeinputmodal').val(),
          comment:$('#commentinputgroupmodal').val(),
          _id:$('#idmodalgroup').html()
        },function(d){
              if(d="ok"){
                  Materialize.toast("Изменения сохранены",1000)
                  $('#modaleditgroup').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        
      })
      $('#submitaddstudenttogroup').click(function(){
        var st=$('#addstudenttogroup select').val();
        if(!st){
          Materialize.toast("Выберите ученика для добавления",1000);
          return;
        }
        $.post("/groups/addstudent/",{
          student:st,
          _id:$('#idmodalgroup').html()
        },function(d){
              Materialize.toast("Ученик добавлен",1000)
              $('#modaleditgroup').modal('close');
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
      });
      $('#modaleditgroup button.delete').click(function(){
        $.post("/groups/remove/",{
          _id:$('#idmodalgroup').html()
        },function(d){
              if(d="ok"){
                  Materialize.toast("Группа успешно удалена",1000)
                  $('#modaleditgroup').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        
      })
      $('#addstudenttogroupbtn').click(function(){
        $(this).slideUp();
        $('#addstudenttogroup').slideDown();
      });
      editgroup=function(i){
        console.log(groups[i]);
        $('#branchselectmodal').val(groups[i].branch);
        $('#subjectselectmodal').val(groups[i].subject);
        $('#courseselectmodal').val(groups[i].course);
        $('#modaleditgroup select[name="dayW"]').val(groups[i].dayW);
        $('#timeinputmodal').val(groups[i].time);
        $('#commentinputgroupmodal').val(groups[i].comment);
        $('#studentsmodallist').html('');
        $('p#idmodalgroup').html(groups[i]._id)
        groups[i].cache.students.forEach(function(s){
          $('#studentsmodallist').append('<li class="collection-item">'+s.surname+" "+s.name+" "+s.secname+"</li>");
        })
        $('#addstudenttogroupbtn').show();
        $('#addstudenttogroup').hide();
        $('select').material_select();
        $('#modaleditgroup').modal('open');
      }
    });
    var editgroup;
    function arr_diff (a1, a2) {
        var a = [], diff = [];
        for (var i = 0; i < a1.length; i++) {
            a[a1[i]] = true;
        }
        for (var i = 0; i < a2.length; i++) {
            if (a[a2[i]]) {
                delete a[a2[i]];
            } else {
                a[a2[i]] = true;
            }
        }
        for (var k in a) {
            diff.push(k);
        }
        return diff;
    };
block content
    ul.collapsible.popout(data-collapsible='accordion') 
        li
            .collapsible-header  Добавить новую
            .collapsible-body#addgroup
              .row
                .col.s12.input-field
                  select#studentsselect(multiple)
                    option(value="" disabled) Выберите учеников
                  label Ученики
                .col.s12.input-field
                  select#branchselect(name="branch" required)
                    option(value="" disabled selected) Выберите филиал
                  label Филиал
                .col.s6.input-field
                  select#subjectselect(name="subject" required)
                    option(value="" disabled selected) Выберите предмет
                  label Предмет
                .col.s6.input-field
                  select#courseselect(name="course" required)
                    option(value="" disabled selected) Выберите курс
                  label Курс
                .col.s6.input-field
                  select(name="dayW" required)
                    option(value="" disabled selected) Выберите день недели
                    option(value="1") Понедельник
                    option(value="2") Вторник
                    option(value="3") Среда
                    option(value="4") Четверг
                    option(value="5") Пятница
                    option(value="6") Суббота
                    option(value="0") Воскресенье
                  label День недели
                .col.s6.input-field 
                  label.active(for="timeinput") Время
                  input#timeinput(name='time',type="time",required)
                .col.s12.input-field 
                  label.active(for='commentinput') Комментарий (необязательно)
                  input.validate#commentinput(name='comment',type="text")
                .col.s12
                  button.btn.waves-effect.s12#addgroupbtn Добавить
        li
            .collapsible-header#listopener  Список
            .collapsible-body
              ul.collection#listofgroups
    #modaleditgroup.modal.full.modal-fixed-footer
      .modal-content
        p#idmodalgroup
        h4 Изменить группу
        .col.s12.input-field
          select#branchselectmodal(name="branch" required)
            option(value="" disabled selected) Выберите филиал
          label Филиал
        .col.s6.input-field
          select#subjectselectmodal(name="subject" required)
            option(value="" disabled selected) Выберите предмет
          label Предмет
        .col.s6.input-field
          select#courseselectmodal(name="course" required)
            option(value="" disabled selected) Выберите курс
          label Курс
        .col.s6.input-field
          select(name="dayW" required)
            option(value="" disabled selected) Выберите день недели
            option(value="1") Понедельник
            option(value="2") Вторник
            option(value="3") Среда
            option(value="4") Четверг
            option(value="5") Пятница
            option(value="6") Суббота
            option(value="0") Воскресенье
          label День недели
        .col.s6.input-field 
          label.active(for="timeinputmodal") Время
          input#timeinputmodal(name='time',type="time",required)
        .col.s12.input-field 
          label.active(for='commentinputmodal',value="none") Комментарий (необязательно)
          input.validate#commentinputmodal(name='comment',type="text")
        p Ученики:
        ul.collection#studentsmodallist
        button.btn.col.s12#addstudenttogroupbtn Добавить ученика
        #addstudenttogroup
          select(name="dayW" required)
            option(value="" disabled selected) Выберите ученика
          button.btn#submitaddstudenttogroup Добавить ученика
      .modal-footer
        //button.waves-effect.waves-red.btn-flat.delete Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить
              