doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src="/js/jquery.js")
    script(src="/js/materialize.min.js")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="yandex-tableau-widget",content="logo=http://egevpare.tk/img/logo-ya.png, color=#59837f, feed=/feed.json")

    meta(name="theme-color", content="#59837f")
    script(src='/js/mP.js')
    script.
      $(document).ready(function() {
        setTimeout(function(){
          /*$("#preloader").animate({opacity:0},function(){
            $(this).hide();
          });*/
        },100);
        $('.tooltipped').tooltip({delay: 50});
      $('a[href^="/"]').click(function(){
        $("#preloader").show().animate({opacity:1},200);
      });
      $('form[action]').submit(function(){
        $("#preloader").show().animate({opacity:1},200);
      });
       $('.modal').mouseup(function (e) {
          var container = $(".collapsible");
          if (container.has(e.target).length === 0){
              $('.collapsible').collapsible('close', 0);
              $('.collapsible').collapsible('close', 1);
              $('.collapsible').collapsible('close', 2);
          }
      })
      Materialize.updateTextFields();
      $('select').material_select();
       $(".button-collapse").sideNav();
      });
      $('.collapsible').collapsible();
      function errorHandler (e){
        Materialize.toast('Произошла ошибка. Повторите попытку.',3000);
      }
      window.addEventListener('error', function(e){
      console.log(e);
        $.post('/error/log/',{
          json:JSON.stringify({
            error:{
              event:e,
              error:{
                message:e.error.message,
                stack:e.error.stack
              },
              message:e.message
            }
          })
        })
        errorHandler(e);
      });
    block head
    
  body
    //style.
      #preloader{
        background:#547d79;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity:1;
        z-index: 99999999;
      }
      #preloader .a{
        background: url(/img/preloader.svg);
        height: 105px;
        width: 105px;
        top: 50%;
        position: fixed;
        margin: -52px;
        left: 50%;
      }
    //#preloader
      .a
    include includes/navbar.jade
    if user
      .row
        .col.l2.hide-on-med-and-down
           include includes/sidebar.jade
        .col.l10.s12.m12
          .card-panel
            h5 Обновление системы.
            p Внимание! 15.10.2018 с 22:00 по 00:00 (включительно) будут проводиться технические работы по обновлению системы. Возможны перебои в работе системы. Приносим свои извинения за доставленные неудобства и благодарим за понимание.
            //p Уважаемые администраторы, доступ будет востановлен 11.09.2018.
          block content
    else
      .col.s12
          block content
    #modalPromt.modal
        .modal-content
          h4#mPheader 
          p#mPctx 
        .modal-footer
          a.waves-effect.waves-green.btn-flat#mPyes Да
          a.waves-effect.waves-red.btn-flat#mPno Нет
    script.
        (function() {
          var ua = window.navigator.userAgent;
          if(ua.indexOf('MSIE') > 0 || ua.indexOf('Trident/') > 0 || ua.indexOf('Edge/') > 0) {
            document.body.innerHTML = '<div class="card-panel yellow">Internet Explorer не поддерживается системой. Приносим свои извинения. Вы можете продолжить использование сервиса, используя браузеры: Firefox, Chrome, Яндекс.Браузер, Opera, Safari </div>' + document.body.innerHTML;
          }
        })();
        


