extends layout
block head
  title Занятия
  script(src="/js/dateformated.js")
  style.
    #studentsmarksaddlesson tbody:empty:before{
      content:'Выберите группу для выставления оценок';
      line-height: 50px;
    }
    #studentsmarksaddlesson tbody:empty{
      margin-bottom:10px;
    }
  script.
    var w=['ВС', 'ПН', 'ВТ', "СР",'ЧТ', 'ПТ', 'СБ', 'ВС'];
    var ds_pickadate={
        onRender: function() {
          console.log(this);
          $('select').material_select();
        },
        selectYears: true,
        labelMonthSelect: 'Pick a month from the dropdown',
        labelYearSelect: 'Pick a year from the dropdown',
        formatSubmit: 'yyyy-mm-dd',
        hiddenName: true,
        format:"dd.mm.yyyy",
        monthsShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
        weekdaysShort: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
        weekdaysFull:w,
        showWeekdaysFull:true,
        firstDay: 2,
        today: 'Сегодня',
        clear: 'Очистить',
        close: 'Ok',
        closeOnSelect: false,
        max: true
      }
    var pickertime;
    var updateTable=function(){
          $('#listoflessons').html('<div class="progress"><div class="indeterminate"></div></div>');
          $.getJSON('/lessons/list', function(data) {
            $('#listoflessons').html('');
            lessons=data;
            var a,w=['ВС', 'ПН', 'ВТ', "СР",'ЧТ', 'ПТ', 'СБ', 'ВС'];;
            data.forEach(function(d,i){
                  a=[];
                  d.cache.group.cache.students.forEach(function(s){
                    a.push(s.surname)
                  });
                  var n;
                  if(d.checked==""){
                    n='<a onclick="editlesson('+i+')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a>';
                  }else{
                    n='<div class="secondary-content btn-floating" style="background:#4CAF50!important;"><i class="material-icons">done</i></div>';
                  }
                  $('#listoflessons').append([
                    '<tr><td>',d.cache.group.subject,"-",d.cache.group.branch,'-',w[d.cache.group.dayW],'-',d.cache.group.time,"("+a.join(', '),")",
                    "<br>",d.theme,
                    "</td><td>",getDateFormated(d.date),"</td><td>",n,
                    '</td></tr>'
                  ].join(''));
            })
          }).fail(function(err) {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
      };
    $(document).ready(function(){
      $('.collapsible').collapsible('open', 1);
      updateTable();
      $('input[name="date"]').pickadate(ds_pickadate);
      pickertime= $('input[type="time"]').pickatime({
        default: 'now', 
        fromnow: 0,   
        twelvehour: false, 
        donetext: 'OK',
        cleartext: 'Очистить', 
        canceltext: 'Отмена',
        autoclose: false, 
        ampmclickable: false, 
        aftershow: function(){}
      })
      var groups,students;
      $.getJSON("/groups/list",function(data){
        groups=data;
        var b,n={},d;
        data.forEach(function(a,i){
          d=[];
          a.cache.students.forEach(function(s){
            d.push(s.surname);
          })
          $("#groupinput").append(['<option value="',i,'">',
          a.subject,"-",a.branch,'-',
          w[a.dayW],'-'+a.time+"("+d.join(', ')+")",'</option>'].join(''));
        })
        $('select').material_select();
        $("#groupinput").change(function(){
          $('#timeinput').val(groups[this.value].time);
          $('#studentsmarksaddlesson tbody').html('');
          groups[this.value].cache.students.forEach(function(s){
            $('#studentsmarksaddlesson tbody').append([
              '<tr><td><span class="hidden student_id">',s._id,'</span>',
              ,s.surname+" "+s.name+" "+s.secname+"</td><td>",
              '<div class="switch"><label> Отсутствовал <input class="presence" ',
              'type="checkbox"> <span class="lever"></span> Присутствовал </label> </div>'
              ,'</td><td><div class="input-field"><input class="validate mark_ru" value="'
              ,'" type="number" min=2 max=5 class="validate"></div>'
              ,'</td><td><div class="input-field"><input class="validate mark_dr" value="'
              ,'" type="number" min=2 max=5 class="validate"></div>'
              ,'</td><td><div class="input-field"><input class="validate mark_kr" value="'
              ,'" type="number" min=2 max=5 class="validate"></div>'
              ,'</td></tr>'
              ].join(''));
          })
          $('select').material_select();
        });
      })
      $('#addlessonbtn').click(function(){
          var marks={},presence={},stop=false;
          $('#studentsmarksaddlesson tbody tr').each(function(){
            var el=$(this);
            var id=el.find('.student_id').html();
            marks[id]={};
            presence[id]=el.find('.presence').prop( "checked" );
            marks[id]['РУ']=el.find('.mark_ru').val();
            marks[id]['ДР']=el.find('.mark_dr').val();
            marks[id]['КР']=el.find('.mark_kr').val();
            console.log(marks[id]['РУ'],marks[id]['ДР'],stop);
            if(presence[id]&&((marks[id]['РУ']=='')||(marks[id]['ДР']==''))) stop=true;
          });
          if(stop) {
            Materialize.toast('Заполните оценки',3000);
            return;
          }
          var z={
            date:new Date($("#formadd input[name='date']").val()+"T"+$('#timeinput').val()+":00+03:00"),
            cache:{group:{}},
            marks:marks,
            presence:presence,
            theme:$('#themelessoninput').val(),
            last:$('#formadd input[name="lastlesson"]').prop('checked')
          },n;
          n=groups[$("#groupinput").val()];
          z.group=n._id;
          z.cache.group=n;
          $.post("/lessons/add/",{json:JSON.stringify(z)},function(d){
              if(d="ok"){
                  Materialize.toast("Занятие создано",1000)
                  $('#formadd input').val('');
                  $('#studentsmarksaddlesson tbody').html('');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000);
              }
              
          }).fail(function(err) {
              console.log(err);
              if(err.status==406){
                Materialize.toast("Проверьте правильность заполнения полей.",1000)
              }
              else Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
      });
      $('#listopener').click(updateTable);
      $('#modaleditlesson').modal();
      $('#modaleditlesson button.save').click(function(){
        var marks={},presence={},stop=false;
        $('#studentsmodallist tbody tr').each(function(){
          var el=$(this);
          var id=el.find('.student_id').html();
          marks[id]={};
          presence[id]=el.find('.presence').prop( "checked" );
          marks[id]['РУ']=el.find('.mark_ru').val();
          marks[id]['ДР']=el.find('.mark_dr').val();
          marks[id]['КР']=el.find('.mark_kr').val();
          console.log(marks[id]['РУ'],marks[id]['ДР'],stop);
          if(presence[id]&&((marks[id]['РУ']=='')||(marks[id]['ДР']==''))) stop=true;
        });
        if(stop) {
          Materialize.toast('Заполните оценки',3000);
          return;
        }
        $.post("/lessons/update/",{json:JSON.stringify({
          date:$('#modaleditlesson input[name="date"]').val()+"T"+$('#modaleditlesson input[name="time"]').val()+":00+03:00",
          _id:$('#idmodallesson').html(),
          theme:$('#modaleditlesson input[name="theme"]').val(),
          marks:marks,
          presence:presence,
          last:$('#modaleditlesson input[name="last"]').prop('checked')
        })},function(d){
              if(d="ok"){
                  Materialize.toast("Изменения сохранены",1000)
                  $('#modaleditlesson').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        
      })
      $('#modaleditlesson button.delete').click(function(){
        $.post("/lessons/remove/",{
          _id:$('#idmodallesson').html()
        },function(d){
              if(d="ok"){
                  Materialize.toast("Занятие успешно удалено",1000)
                  $('#modaleditlesson').modal('close');
              }else{
                  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
              }
          }).fail(function() {
              Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
          })
        
      })
      editlesson=function(i){
        $("#modaleditlesson > div.modal-content > div > div:nth-child(2) > div").remove();
        $("#modaleditlesson > div.modal-content > div > div:nth-child(2) > input.picker__input").remove();
        
        
        $('#modaleditlesson input[name="group"]').val(lessons[i].cache.group.subject+"-"+lessons[i].cache.group.branch+'-'+w[lessons[i].cache.group.dayW]+'-'+lessons[i].cache.group.time);
        $('#modaleditlesson input[name="date"]').val(getDateFormated(lessons[i].date,1));
        $('#modaleditlesson input[name="time"]').val(getDateFormated(lessons[i].date,2));
        $('#modaleditlesson input[name="theme"]').val(lessons[i].theme);
        $('#modaleditlesson input[name="last"]').prop('checked',lessons[i].last);
        $('#modaleditlesson input[name="date"]').pickadate(ds_pickadate);
        
        $('#studentsmodallist tbody').html('');
        $('#idmodallesson').html(lessons[i]._id)
        lessons[i].students.forEach(function(d){
          s=lessons[i].cache.group.cache.students.find(function(e){
            return e._id==d;
          });
          $('#studentsmodallist tbody').append([
            '<tr><td><span class="hidden student_id">',s._id,'</span>',
            ,s.surname+" "+s.name+" "+s.secname+"</td><td>",
            '<div class="switch"><label> Отсутствовал <input class="presence" ',(lessons[i].presence&&lessons[i].presence[s._id])?' checked ':' '
            ,'" type="checkbox"> <span class="lever"></span> Присутствовал </label> </div>'
            ,'</td><td><div class="input-field"><input class="validate mark_ru" value="',
            lessons[i].marks&&lessons[i].marks[s._id]&&lessons[i].marks[s._id]['РУ']?lessons[i].marks[s._id]['РУ']:''
            ,'" type="number" min=2 max=5 class="validate"></div>'
            ,'</td><td><div class="input-field"><input class="validate mark_dr" value="',
            lessons[i].marks&&lessons[i].marks[s._id]&&lessons[i].marks[s._id]['ДР']?lessons[i].marks[s._id]['ДР']:''
            ,'" type="number" min=2 max=5 class="validate"></div>'
            ,'</td><td><div class="input-field"><input class="validate mark_kr" value="',
            lessons[i].marks&&lessons[i].marks[s._id]&&lessons[i].marks[s._id]['КР']?lessons[i].marks[s._id]['КР']:''
            ,'" type="number" min=2 max=5 class="validate"></div>'
            ,'</td></tr>'
            ].join(''));
        })
        $('select').material_select();
        $('#modaleditlesson').modal('open');
        
      }
    });
    var editgroup;
  style.
    .picker__weekday-display{font-size:1.7rem;}
    #studentcont{display:none;}
block content
    ul.collapsible.popout(data-collapsible='accordion') 
        li
            .collapsible-header  Добавить новое
            .collapsible-body#formadd
              .row
                .col.s12.input-field#groupcont
                  label.active(for='groupinput') Группа
                  select#groupinput.validate(name='group',required)
                    option(value='', disabled='', selected='') Выберите группу
                .col.s6.input-field 
                  label.active(for="dateinput") Дата
                  input#dateinput(name='date',type="date",required)
                .col.s6.input-field 
                  label.active(for="timeinput") Время
                  input#timeinput(name='time',type="time",required)
                .col.s12.input-field 
                  label.active(for="themelessoninput") Тема занятия
                  input#themelessoninput(name='theme',required)
                .col.s12
                  input#addlastlesson(type="checkbox",name='lastlesson')
                  label(for='addlastlesson') Последнее занятие с данной группой

                .col.s12
                  table.table.bordered#studentsmarksaddlesson  
                    thead
                      tr
                        td ФИО
                        td Присутствие
                        td.center РУ
                        td.center ДР
                        td.center КР
                    tbody
                .col.s12
                  button.btn.waves-effect.s12#addlessonbtn Добавить
        li
            .collapsible-header#listopener  Список
            .collapsible-body
              table#tableoflessons
                    thead
                        tr
                            td Группа / Тема
                            td Дата и время

                    tbody#listoflessons
                
    #modaleditlesson.modal.full.modal-fixed-footer
      .modal-content
        p#idmodallesson
        h4 Редактировать занятие
        .row
          .col.s12.input-field#groupcont
            label.active Группа
            input.validate(name='group',type="text",value='lala',disabled)
          .col.s6.input-field 
            label.active Дата
            input(name='date',type="text",value="01.01.2017",required)
          .col.s6.input-field 
            label.active Время
            input(name='time',type="time",required)
          .col.s12.input-field 
            label.active Тема урока
            input(name='theme',required)
          .col.s12
            input#lastmodaleditgroup(type="checkbox",name='last')
            label(for='lastmodaleditgroup') Последнее занятие с данной группой
        table.table.bordered#studentsmodallist  
          thead
            tr
              td ФИО
              td Присутствие
              td.center РУ
              td.center ДР
              td.center КР
          tbody
      .modal-footer
        button.waves-effect.waves-red.btn-flat.delete Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить
              