extends layout
block head
  title Востановление пароля
  script(src="/js/maskinput.js")
  script.
    $(document).ready(function(){
      $("#telinput").mask("+7 (999) 999-9999");
    })

block content
  .container      
    h5.center Востановление пароля
    .row
      form(action="/restore_password/" method='post')
        .row
          .col.s6.input-field 
            label(for='emailinput') E-mail
            input.validate#emailinput(name='email',type="email",required)
          .col.s6.input-field 
            label(for='telinput') Телефон
            input.validate#telinput(name='tel',type="tel",value="+7 (___) ___-____",required)
          .col.s12
            button.btn.waves-effect.s12(type="submit") Востановить пароль
