extends layout
block head
  title Востановление пароля
  script(src="/js/maskinput.js")
  script.
    var b=function(){
        if($(this).val()==$("#passinput").val()){
          $(this).addClass("valid");
          $(this).removeClass("invalid");
        }else{
          $(this).addClass("invalid");
          $(this).removeClass("valid");
        }
      };
    $(document).ready(function(){
      $("#telinput").mask("+7 (999) 999-9999");
      $("#passinputch").keyup(b);
      $("#passinputch").change(b);
      $('form input[name="q"]').val(decodeURIComponent(location.search.replace('?q=','')));

      $("form").submit(function(e){
        if($("#passinputch").val()==$("#passinput").val()) {
          return true;
        }
        else{
          $("#passinputch").focus();
          e.preventDefault();
          return false;
        }
      })
    })

block content
  .container      
    h5.center Востановление пароля
    .row
      form(action="/restore_password/" method='post')
        .row
          input(name='q',type="hidden")

          .col.s6.input-field 
            label(for='passinput') Пароль
            input.validate#passinput(name='password',type="password",required)
          .col.s6.input-field 
            label(for='passinputch') Повторите пароль
            input#passinputch(type="password",required)
          .col.s12
            button.btn.waves-effect.s12(type="submit") Востановить пароль
