extends layout
block head
  title Ученики
  link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.15/css/jquery.dataTables.css')
  script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.15/js/jquery.dataTables.js')
  script(src="/js/maskinput.js")
  script.
    var table,students;
    var updateTable=function(){
            if(table) table.destroy();
            $('#listofstudents').html('<div class="progress"><div class="indeterminate"></div></div>');
            $.getJSON('/students/list', function(data) {
              students=data;
              var a;
              $('#listofstudents').html('');
              data.forEach(function(d,i){
                    a='<tr><td>'+d.surname+' '+d.name+' '+d.secname+'</td><td>'+d.form+"</td>";
                    a+='<td><a onclick="editstudent('+i+ ')" class="secondary-content btn-floating"><i class="material-icons">settings</i></a><a title="Скрыть ученика" onclick="hidestudent(\''+d._id+ '\')" class="secondary-content btn-floating  red darken-1"><i class="material-icons">close</i></a></td>'+"</tr>";
                    $('#listofstudents').append(a);
              })
              table=$("#tablestudents").DataTable();
              $("#tablecont select").material_select();
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
        }
    $(document).ready(function(){
        var settings;
        $.getJSON("/settings",function(settings){
          subjects={};
          settings.subjects.forEach(function(b){
            subjects[b.shortname]=b.name;
          });
        }).fail(function(){
          Materialize.toast('Не удалось подгрузить настройки.',3000);
        });
        var i = document.createElement("input");
        i.setAttribute("type", "date");
        dateSupport = i.type !== "text";
        if(!dateSupport){
            $("input[type='date']").mask("9999-99-99");
        }
        ["name",'surname','secname'].forEach(function(fieldName){
          $.getJSON("/students/listofvalues/"+fieldName,function(d){
            var n={};
            d.forEach(function(d){
              n[d]=null;
            });
            $('#adduserform input[name="'+fieldName+'"]').autocomplete({
              data: n,
              limit: 20,
              minLength: 3 
            });
          }).fail(function(){
            Materialize.toast("Не удалось подгрузить данные автозаполнения ФИО учеников.",1000)
          });
        });
        $('.collapsible').collapsible('open', 1);
        updateTable();
        $('#listopener').click(updateTable);
        $('#adduserform').submit(function(e) {
          e.preventDefault();
          return false;
        });
        $('#findinstudents').click(function(e){
            $.post("/students/addfromdb",{
              surname:$('#adduserform input[name="surname"]').val(),
              name:$('#adduserform input[name="name"]').val(),
              secname:$('#adduserform input[name="secname"]').val(),
              form:$('#adduserform select[name="form"]').val()
            },function(d){
                if(d="ok"){
                    Materialize.toast("Ученик добавлен успешно",1000)
                    $('#adduserform input').val('');
                }else{
                    Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
                }
                
            }).fail(function(e) {
                if(e.status==404){
                  $('#adduserform .additionally').slideDown();
                  Materialize.toast("Ученик в системе не числится. Вы можете его добавить самостоятельно, заполнив дополнительные поля.",5000);
                }else Materialize.toast("Прозошла ошибка. Повторите попытку.",1000);
            })
            e.preventDefault();
            return false;
        });
        $('#addstudentbtn').click(function(e){
            $.post("/students/add",$( '#adduserform' ).serialize(),function(d){
                if(d="ok"){
                    Materialize.toast("Ученик добавлен успешно",1000)
                    $('#adduserform input').val('');
                    $('#adduserform .additionally').slideUp();
                }else{
                    Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000)
                }
                
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
            e.preventDefault();
            return false;
        });
        $('#modaleditstudent button.save').click(function(){
          var a={}
          a.date=$('#modaleditstudent input[name="date"]').val()||undefined;
          ["surname", "name", "secname", "email", "tel", "form"].forEach(function(field) {
              a[field]=$('#modaleditstudent [name="' + field + '"]').val();
          });
          a._id=$('#idmodalstudent').html();
          $.post("/students/update/",{json:JSON.stringify(a)},function(d){
                Materialize.toast("Изменения сохранены",1000)
                $('#modaleditstudent').modal('close');
                $('#listopener').click();
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
          
        })
        $('.modal').modal();
        editstudent = function(i) {
            var s = students[i];
            $('#idmodalstudent').html(s._id);
            if(s.date) $('#modaleditstudent input[name="date"]').val(s.date.split('T')[0]);
            else $('#modaleditstudent input[name="date"]').val('');
            ["surname", "name", "secname", "email", "tel", "form"].forEach(function(field) {
                $('#modaleditstudent [name="' + field + '"]').val(s[field]);
            });
            if(!dateSupport) $('#modaleditstudent .unsupportivedate').val($('#modaleditstudent input[name="date"]').val().split('-').reverse().join('.'))
            $("#modaleditstudent").modal('open');
            $('select').material_select();
            var subjectsF,tutors;
            subjectsF={};
            tutors={};
            $('#subjectsmodallist').html('<div class="progress"><div class="indeterminate"></div></div>');
            $('#tutorsmodallist').html('<div class="progress"><div class="indeterminate"></div></div>');
        };
        hidestudent=function(id){
            $.get("/students/hide/"+id,function(d){
                updateTable();
            }).fail(function() {
                Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
            })
        }
        
    });
    var editstudent,hidestudent;
  style.
    .additionally{
      display:none;
    }
block content
    ul.collapsible.popout(data-collapsible='accordion') 
        li
            .collapsible-header  Добавить нового
            .collapsible-body
                form#adduserform
                  .row
                    .col.s6.input-field 
                      label(for='surnameinput') Фамилия
                      input.validate#surnameinput(name='surname',type="text",required,autocomplete="off")
                    .col.s6.input-field 
                      label(for='nameinput') Имя
                      input.validate#nameinput(name='name',type="text",required,autocomplete="off")
                    .col.s6.input-field 
                      label(for='secnameinput') Отчество
                      input.validate#secnameinput(name='secname',type="text",autocomplete="off")
                    .col.s6.input-field(style="padding-bottom:5px;")
                      select(name="form" required)
                        option(value="" disabled selected) Выберите класс
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") 8
                        option(value="9") 9
                        option(value="10") 10
                        option(value="11") 11
                        option(value="12") Другой
                      label Класс
                    .additionally
                      .col.s6.input-field 
                        label.active(for='dateinput') Дата рождения
                        input#dateinput(placeholder='01.01.1997',name='date',type="date")
                      .col.s6.input-field 
                        label(for='emailinput') E-mail
                        input#emailinput(name='email',type="email")
                    .col.s12
                      button.btn.waves-effect#findinstudents Найти в базе
                      button.btn.waves-effect.additionally#addstudentbtn Добавить в базу
        li
            .collapsible-header#listopener  Список
            .collapsible-body#tablecont
                table#tablestudents
                    thead
                        tr
                            td ФИО
                            td Класс
                            td
                    tbody#listofstudents
                    
    #modaleditstudent.modal.full.modal-fixed-footer
      .modal-content
        p#idmodalstudent
        h4 Редактировать ученика
        .row
          .col.s6.input-field 
            label.active Фамилия
            input.validate(name='surname',type="text",required,value="Ошибка")
          .col.s6.input-field 
            label.active Имя
            input.validate(name='name',type="text",required,value="Ошибка")
          .col.s6.input-field 
            label.active Отчество
            input.validate(name='secname',type="text",required,value="Ошибка")
          .col.s6.input-field(style="padding-bottom:5px;")
            select(name="form" required)
              option(value="" disabled selected) Выберите класс
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3
              option(value="4") 4
              option(value="5") 5
              option(value="6") 6
              option(value="7") 7
              option(value="8") 8
              option(value="9") 9
              option(value="10") 10
              option(value="11") 11
              option(value="12") Другой
            label Класс
          .col.s6.input-field 
            label.active Дата рождения
            input.validate(placeholder='01.01.1997',name='date',type="date",required,value="Ошибка")
          .col.s6.input-field 
            label.active E-mail
            input.validate(name='email',type="email",required,value="Ошибка")
          .col.s6.input-field 
            label.active Номер телефона
            input.validate(name='tel',type="tel",value="Ошибка")
      .modal-footer
        button.waves-effect.waves-red.btn-flat.delete.disabled Удалить
        a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить изменения
        button.waves-effect.waves-green.btn-flat.save Сохранить