extends layout
block head
	title График
	script(src="/js/dateformated.js")
	style.
		button.changedatabtn {
			margin-top: 24px;
		}
		#dateselection{
			width: calc(100% - 205px);
			min-width: 110px;
		}
	script.
		var GROUP_TMP_DATA;
		var errorHandler = function(){
			Materialize.toast('Произошла ошибка.',1000);
		}
		var w=['ВС', 'ПН', 'ВТ','СР', 'ЧТ', 'ПТ', 'СБ', 'ВС'];
		var loadtl=function (dd){
			var dW=(new Date(dd)).getDay();
			dd=new Date(dd);
			var tmp_d,tmp_d2;
			tmp_d=(new Date(dd)).toISOString().split('T')[0]+"T00:00:00+03:00";
			tmp_d2=(new Date(dd)).toISOString().split('T')[0]+"T23:59:59+03:00";
			var tbody=$('#groupstable > tbody');
			tbody.html('<div class="progress"><div class="indeterminate"></div></div>')
			$.getJSON('/lessons/list',{
				json:JSON.stringify({
					date:{"$gte":tmp_d , "$lt": tmp_d2}
				})
			},function(lessons){
				$.getJSON('/groups/list',{
					dayW:dW
				},function(d){
					d.sort(function(a,b){
						return Number(a.time.split(':').join(''))>Number(b.time.split(':').join(''));
					})
				   var a,z;
					tbody.html('');
					d.forEach(function(g){
						a=[];
						g.cache.students.forEach(function(st){
							a.push(st.surname);
						});
						a.join(',');
						tmp_d=new Date(dd);
						tmp_d.setHours(Number(g.time.split(':')[0]));
						tmp_d.setMinutes(Number(g.time.split(':')[1]));
						var i;
						if(lessons.find(function(e,I){
							var z=(new Date(e.date)).getTime()-tmp_d.getTime();
							return -100000 < z&&z<100000;
						})){
							 z='<a class="btn-floating disabled" style="background:#4CAF50!important;"><i class="material-icons">done</i></a>';
							 lessons.splice(i);
						}
						else z='<a class="btn-floating disabled" style="background:#f44336!important;"><i class="material-icons">clear</i></a></td><td><a class="btn-floating addlesson"><i class="material-icons">add</i></a>';
						tbody.append([
						"<tr><td><span class='hidden gdata'>",JSON.stringify(g),"</span>",g.time,'</td><td>', g.subject,"-",g.branch,'-',w[g.dayW],'-',g.time,
						  ' (',a.join(', '),")</td><td>",z,"</td></tr>"
						].join(''));
					});
					lessons.forEach(function(l){
						a=[];
						l.cache.group.cache.students.forEach(function(st){
							a.push(st.surname);
						});
						a.join(',');
						tbody.append([
						"<tr><td>",function(){
							var n=l.date.split('T')[1].split(':').splice(0,2);
							n[0]=Number(n[0])+3;
							return n.join(':')
						}(),'</td><td>', l.cache.group.subject,"-",l.cache.group.branch,'-',w[l.cache.group.dayW],'-',l.cache.group.time,
						  ' (',a.join(', '),")</td><td>",
						  '<a class="btn-floating disabled" style="background:#4CAF50!important;"><i class="material-icons">done</i></a>',"</td></tr>"
						].join(''));
					})
					$('#groupstable a.addlesson').click(function(){
						var g=JSON.parse($(this).parents('tr').find('span.gdata').html());
						tmp_d=(new Date(dd)).toISOString().split('T')[0]+"T"+g.time+":00+03:00";
						if((new Date(tmp_d)).getTime()-(new Date()).getTime()>1800000){
							return Materialize.toast('Занятие можно проводить не раньше чем за 15 минут до начала ',3000);
						}
						GROUP_TMP_DATA=g;
						$('#modaladdlesson input[name="date"]').val(dd.toISOString().split('T')[0]);
						$('#modaladdlesson input[name="time"]').val(g.time);
						a=[];
						g.cache.students.forEach(function(st){
							a.push(st.surname);
						});
						$('#modaladdlesson input[name="group"]').val([
							g.subject,"-",g.branch,'-',w[g.dayW],'-',
							g.time,' (',a.join(', '),")"
						].join(''));
						$('#modaladdlesson tbody').html('');
						g.cache.students.forEach(function(s){
							$('#modaladdlesson tbody').append([
							  '<tr><td><span class="hidden student_id">',s._id,'</span>',
							  ,s.surname+" "+s.name+" "+s.secname+"</td><td>",
							  '<div class="switch"><label> Отсутствовал <input class="presence" ',
							  'type="checkbox"> <span class="lever"></span> Присутствовал </label> </div>'
							  ,'</td><td><div class="input-field"><input class="validate mark_ru" value="'
							  ,'" type="number" min=2 max=5 class="validate"></div>'
							  ,'</td><td><div class="input-field"><input class="validate mark_dr" value="'
							  ,'" type="number" min=2 max=5 class="validate"></div>'
							  ,'</td><td><div class="input-field"><input class="validate mark_kr" value="'
							  ,'" type="number" min=2 max=5 class="validate"></div>'
							  ,'</td></tr>'
							  ].join(''));
						  })
						  $('select').material_select();
						$('#modaladdlesson').modal('open');
					})
					$('.tooltipped').tooltip({delay: 50,position:"top"});
				}).fail(errorHandler);
			}).fail(errorHandler);

		};
		var ds_pickadate={
			onRender: function() {
			  console.log(this);
			  $('select').material_select();
			},
			selectYears: true,
			selectMonths:true,
			labelMonthSelect: 'Pick a month from the dropdown',
			labelYearSelect: 'Pick a year from the dropdown',
			formatSubmit: 'yyyy-mm-dd',
			hiddenName: true,
			format:"dd.mm.yyyy",
			monthsShort: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
			monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
			weekdaysShort: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
			weekdaysFull:w,
			showWeekdaysFull:true,
			firstDay: 2,
			today: 'Сегодня',
			clear: 'Очистить',
			close: 'Ok',
			closeOnSelect: false,
			onClose:function(){
				loadtl(new Date($('#dateselection input[name="date"]').val()));
			}
		  }
		$(document).ready(function(){
			$('.modal').modal();
			$('#dateselection input[name="date"]').val(getDateFormated(new Date(),1));
			$('.pickadate').pickadate(ds_pickadate);
			var n;
			$('#prevdate,#nextdate').click(function(){
				if(n) clearTimeout(n);
				if(this.id=='prevdate') var z=-86400000;
				else var z=86400000;
				var d=new Date(Date.parse($('#dateselection input[name="date"]').val())+z)
				n=setTimeout(function(){
					loadtl(d);
				},300)
				d=d.toISOString().split('T')[0]
				$('#dateselection input[name="date"]').val(d);
				$('#dateselection input.showed').val(d.split('-').reverse().join('.'));

			});
			loadtl(new Date());
			$('#modaladdlesson .save').click(function(){
			  var marks={},presence={},stop=false;
			  $('#modaladdlesson tbody tr').each(function(){
				var el=$(this);
				var id=el.find('.student_id').html();
				marks[id]={};
				presence[id]=el.find('.presence').prop( "checked" );
				marks[id]['РУ']=el.find('.mark_ru').val();
				marks[id]['ДР']=el.find('.mark_dr').val();
				marks[id]['КР']=el.find('.mark_kr').val();
				console.log(marks[id]['РУ'],marks[id]['ДР'],stop);
				if(presence[id]&&((marks[id]['РУ']=='')||(marks[id]['ДР']==''))) stop=true;
			  });
			  if(stop) {
				Materialize.toast('Заполните оценки',3000);
				return;
			  }
			  var z={
				date:new Date($("#modaladdlesson input[name='date']").val()+"T"+$("#modaladdlesson input[name='time']").val()+":00+03:00"),
				cache:{group:{}},
				marks:marks,
				presence:presence,
				theme:$("#modaladdlesson input[name='theme']").val(),
				last:$('#modaladdlesson input[name="lastlesson"]').prop('checked')
			  },n;
			  n=GROUP_TMP_DATA;
			  z.group=n._id;
			  z.cache.group=n;
			  $.post("/lessons/add/",{json:JSON.stringify(z)},function(d){
				  if(d="ok"){
					  Materialize.toast("Занятие создано",1000)
					  $('#modaladdlesson input').val('');
					  $('#modaladdlesson tbody').html('');
					  $('#modaladdlesson').modal('close');
					  loadtl(Date.parse($('#dateselection input[name="date"]').val()));
				  }else{
					  Materialize.toast("Возможно прозошла ошибка. Проверьте список.",1000);
				  }

			  }).fail(function(err) {
				  console.log(err);
				  if(err.status==406){
					Materialize.toast("Проверьте правильность заполнения полей.",1000)
				  }
				  else Materialize.toast("Прозошла ошибка. Повторите попытку.",1000)
			  })
			});
		});
block content
	.row
		.col.left
			button.btn.changedatabtn#prevdate
				i.material-icons chevron_left
		.col.right
			button.btn.changedatabtn#nextdate
				i.material-icons chevron_right
		.col#dateselection.center
			label.active Дата
			input.showed.pickadate(type='text',name="date")
	table.tbl#groupstable
		thead
			td Время
			td Группа
			td Занятие проведено
		tbody
	#modaladdlesson.modal.full.modal-fixed-footer
		.modal-content
			p#idmodallesson
			h4 Добавить занятие
			.row
				p.hidden#groupid
				.col.s12.input-field#groupcont
					label.active Группа
					input.validate(name='group',type="text",value='lala',disabled)
				.col.s6.input-field
					label.active Дата
					input(name='date',type="date",value="01.01.2017",required)
				.col.s6.input-field
					label.active Время
					input(name='time',type="time",required)
				.col.s12.input-field
					label.active Тема урока
					input(name='theme',required)
				.col.s12
					input#lastmodaleditgroup(type="checkbox",name='last')
					label(for='lastmodaleditgroup') Последнее занятие с данной группой
			table.table.bordered#studentsmodallist
				thead
					td ФИО
					td Присутствие
					td.center РУ
					td.center ДР
					td.center КР
				tbody
		.modal-footer
			a.modal-action.modal-close.waves-effect.btn-flat(href='#!') Отменить
			button.waves-effect.waves-green.btn-flat.save Добавить