extends layout
block head
	title Рабочее пространство
block content
	.container
		h4 Здравствуйте, #{user.name} #{user.secname}!
		if admin
			br
			h4 Статистика
			.row
				.col.s12.m6
					.card-panel
						h5 Занятий в этом месяце
						h1#lessonsMonth Загрузка
				.col.s12.m6
					.card-panel
						h5 Не проверенных занятий
						if(counterL>30)
							h1(style='color:#f44336;') #{counterL}
						else if(counterL>0)
							h1 #{counterL}
						else
							h1(style='color:#4caf50;') #{counterL}
				.col.s12
					.card-panel
						h5 Всего занятий в системе
						h1#lessonsAll Загрузка
				.col.s12
					.card-panel
						h5 Годовой график
						canvas#chartStat1
			script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js')
			script.
				var MONTHS = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
				var config = {
					type: 'line',
					data: {
						labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
						datasets: [{
							label: 'Занятия',
							backgroundColor: '#59837f',
							borderColor: '#59837f',
							data: [],
							fill: false,
						}]
					},
					options: {
						responsive: true,
						title: {
							display: false
						},
						tooltips: {
							mode: 'index',
							intersect: false,
						},
						hover: {
							mode: 'nearest',
							intersect: true
						},
						scales: {
							xAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Месяц'
								}
							}],
							yAxes: [{
								display: true,
								scaleLabel: {
									display: true,
									labelString: 'Кол-во занятий'
								}
							}]
						}
					}
				};

				window.onload = function() {
					$.get('/admin/stats/lessons/month',function(month){
						$('#lessonsMonth').text(month);
					});
					$.get('/admin/stats/lessons/',function(a){
						$('#lessonsAll').text(a);
					});
					$.getJSON('/admin/stats/lessons/year',function(data){
						var ctx = document.getElementById('chartStat1').getContext('2d');
						config.data.datasets[0].data=data.slice( 0, (new Date()).getUTCMonth()+1 );
						window.myLine = new Chart(ctx, config);
					});
				};
		br
		h4 Новости системы
		.row
			if admin
				.col.s12
					.card-panel
						h5 Была изменена система распределения полномочий.
						p.
							В данный момент система использует полномочия:
							Главный Администратор (доступ к распределению полномочий,
							к настройкам, ко всем филиалам), 
							Администратор (доступ только к разрешённым филиалам),
							Преподаватель. Для Главных Администраторов разработана
							страница управлением полномочиями.
						p(style='text-align:right;') 11.09.2018
					.card-panel
							h5 Был обновлён раздел Вознаграждения.
							p.
								Были исправлены ошибки, которые возникали во время обработки
								занятий и которые приводили к экстренной перезагрузке
								сервера. Проблема была решена с помощью внедрения постепенной
								загрузки данных, что позволило также добавить виджет, показывающий
								процент выполнения процесса.
							p(style='text-align:right;') 31.07.2018
			if !admin
				.col.s12
					.card-panel
						h5 Теперь Вы можете скрывать учеников
						p.
							Был разработан функционал удаления учеников из 
							общего списка для упрощения работы с системой.
						p.
							Чтобы скрыть ученика, нужно перейти на страницу Ученики
							и нажать на красную кнопку с белым крестом напротив скрываемого ученика.
						p(style='text-align:right;') 02.10.2018
					.card-panel
						h5 Был введён в опытную эксплуатацию раздел График.
						p.
							С помощью раздела График Вы сможете просматривать занятия
							и проводить новые, нажав на кнопку добавления, система за
							Вас заполнит группу, дату и время, Вам необходимо только
							вписать тему урока, отметить присутствующих и выставить оценки. 
						p.
							При возникновении проблем сообщите об этом администратору.
						p(style='text-align:right;') 30.07.2018
						

