.bgteal{
    background-color: #59837f;
}

.tabs.tabs-teal {
  background-color: transparent;
}
.tabs.tabs-teal .tab a,
.tabs.tabs-teal .tab.disabled a,
.tabs.tabs-teal .tab.disabled a:hover {
  color: rgba(38, 166, 154, 0.7);
}

.tabs.tabs-teal .tab a:hover,
.tabs.tabs-teal .tab .active {
  color: #26a69a;
}

.tabs.tabs-teal .indicator {
  background-color: #26a69a;
}
#nav-mobile .h{
    cursor: default;
    font-weight: 900;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    color:#000;
}
.modal.full{
    top: 0!important;
    margin:0;
    width: 100%;
    height: 100%!important;
    max-height: 100%;
}
.hidden{
  display:none;
}

.input-field.col .dropdown-content [type="checkbox"]+label {
      top: -10px!important;  
}
.collapsible-body{
  max-width: 100%;
  overflow-x: auto;
}
label.modified{
    background-color: #FFEB3B;
    padding-left: 20px!important;
}